#buyContainer {
    display: flex;
    justify-content: flex-end;
    padding: 50px;
}

.imageContainer {
    cursor: auto;
}

.resultIcons {
    position: relative;
    top: 5px;
}

@media only screen and (max-width: 768px) {
    #buyUrl {
        width: 30%;
    }
}