.confirmation {
    width: 30%;
    height: 200px;
    position: absolute;
    top: 45%;
    z-index: 1;
    padding: 30px;
}

.confirmationChoice {
    width: 100%;
    height: 100%;
    background-color: wheat;
    opacity: 90%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), -4px 8px 20px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.confirmationTitle {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-bottom: 20%;
}

@media only screen and (max-width: 768px) {
    .confirmation {
        top: 20%;
        width: 100%;
        padding-top: 20%;
        padding-left: 0;
    }

    .confirmationChoice {
        width: 90%;
        padding: 0;
    }

    .confirmationChoice a {
        width: 100px;
    }
}