body {
    background-color: #F7F6F3;
    margin: 0;
    padding: 0;

}

iframe, div {
    max-width: 100%;
}

#header {
    border-bottom: 3px solid #BDBBB6;
    height: 10vh;
}

@font-face {
    font-family: "Inter";
    src: url('/fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: "Inconsolata";
    src: url('/fonts/Inconsolata.ttf') format('truetype');
}

a {
    text-decoration: none;
}

button {
    vertical-align: middle;
    position: relative;
    z-index: 1;
    color: #FEF9EF;
    width: 130px;
    height: 40px;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}

.b1, .b2, #b5, #b6, #b7 {
    top: 30%;
    position: relative;

}

.redButton {
    background-color: #FF5A5F;
}

.blackButton {
    background-color: #48483A;
}

.greenButton {
    background-color: #96BE8C;
}

.b1 {
    left: 79%;
}

.b2 {
    left: 80%;
}

#b5 {
    left: 69%;
}

#b6 {
    left: 70%;
}

#b7 {
    left: 71%;
}


.blackButton:hover {
    background-color: #3B3B2F;
}

.redButton:hover {
    background-color: #DE4E53;
}

.greenButton:hover {
    background-color: #7FA176;
}

.title {

    font-size: 64px;
    letter-spacing: 10px;
}


#image {
    width: 80%;
    height: 500px;
    border: 4px solid black;
    margin-top: 20px;
    margin-bottom: 30px;
}

#info {
    display: grid;
    place-items: center;
    justify-content: center;
}

.title, #recenzje {
    font-family: "Inconsolata", sans-serif;
    color: #48483A;
    font-weight: 700;
}

#recenzje {
    letter-spacing: 5px;
    font-size: 48px;
    margin-top: 5%;
    margin-left: 10%;
}

#reviews {
    display: flex;
    margin-left: 6%;
    margin-top: 10px;
}

.review {
    width: 420px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), -4px 8px 20px rgba(0, 0, 0, 0.10);

}

.hearth {
    height: 25px;
    width: 25px;
}

.star {
    height: 30px;
    width: 30px;
}

.name {
    font-weight: 800;
    font-size: 16px;
}

.description {
    word-wrap: break-word;
}

.amount {
    color: #A29C9C;

}

.name, .description {
    color: #000000;
}

.description, .amount {
    font-weight: 500;
    font-size: 14px;
}

.name, .description, .amount {
    font-family: "Inter", sans-serif;
}

.review-horizontal {
    display: flex;
}

.review-vertical {
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.stars {
    margin-left: 5%;
}

.name {
    margin-left: 10px;
    margin-top: 10px;
    width: 90%;
}

.description {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;
}

.amountHearths {
    margin-top: 8px;
    margin-left: 5%;
}

.review-vertical, .amountHearths {
    display: flex;
    justify-content: flex-end;
}

#footer {
    height: 5vh;
}

#b4 {
    margin-left: 84%;
    margin-top: 2%;
}

#addOpinion {
    width: 30%;
    height: 15%;
    margin-left: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.starAtReview {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#text {
    border: 5px solid #A29C9C;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
}

label {
    display: block;
    margin-left: 5px;
}

#checked-1, #checked-2, #checked-3, #checked-4, #checked-5, label input, #check1:checked ~ #unchecked-1, #check2:checked ~ #unchecked-2, #check3:checked ~ #unchecked-3, #check4:checked ~ #unchecked-4, #check5:checked ~ #unchecked-5 {
    display: none;
}

#starsAndSubmit {
    display: flex;
    width: 100vh;
}

#submit {
    margin-left: 45px;
    margin-top: 10px;
    z-index: 1;
}

#check1:checked ~ #checked-1, #check2:checked ~ #checked-2, #check3:checked ~ #checked-3, #check4:checked ~ #checked-4, #check5:checked ~ #checked-5 {
    display: inline;
}

#textReview {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .b1, .b2 {
        left: 40%;
    }

    button {
        width: 27%;
    }

    .title, #recenzje {
        font-size: 30px;
    }

    #image {
        height: 35vh;
    }

    #review2, #review3 {
        display: none;
    }

    #review1 {
        width: 83%;
        height: 170px;
        margin-bottom: 10px;
    }

    #b4 {
        margin-left: 64%;
    }

    #addOpinion {
        margin-left: 5.5%;
        width: 100%;
    }

    #text {
        width: 90%;
        height: 150px;
    }

    .starAtReview {
        height: 40px;
        width: 40px;
    }

    #submit {
        margin-left: 3%;
        margin-top: 5px;
    }

    #b3 {
        width: 100%;
    }
}

