#form {
    height: 42%;
    width: 40%;
}

#check1, #check2, #up1 {
    display: none;
}

#up1, #down1 {
    left: 70%;
}

#check1, #close1 {
    left: 85%;
}

#CallingCode {
    width: 31%;
    height: 100%;
}

#Phone {
    width: 67%;
}

#Password {
    height: 50px;
    width: 98%;
}

#nothingCallingCode, .optionSelect {
    padding: 4px;
}

#nothingCallingCode {
    display: none;
}

#loginButton {
    width: 130px;
}

@media only screen and (max-width: 768px) {
    input, .valueSelect, .searchSelect {
        height: 50px;
        border: 1px solid gray;
    }

    #CallingCode, #Phone, #Password {
        width: 100%;
    }

    #form {
        width: 90%;
    }

    img, #close1, #check1, #up1, #down1 {
        left: 82%;
    }
}





