#form {
    height: 42%;
    width: 40%;
}

#check2, #check3, #up1 {
    display: none;
}

#CallingCode {
    width: 31%;
    height: 100%;
}

#Phone {
    width: 67%;
}

#Password {
    height: 50px;
    width: 98%;
}

#nothingCallingCode, .optionSelect {
    padding: 4px;
}

#nothingCallingCode {
    display: none;
}

#loginButton {
    width: 130px;
}

@media only screen and (max-width: 768px) {
    #CallingCode, #Phone, #Password {
        width: 100%;
    }
}





