
#validationLastName, #validationPhone, #validationRetypedPassword, #validationCity, #validationApartmentNumber, #validationProvince, #validationAccountNumber {
    transform: translateX(-100%);
}

#Name {
    width: 48%;
}

@media only screen and (max-width: 768px) {
    #forUsers {
        font-size: 8px;
    }

    #Name {
        width: 100%;
    }

}