#form {
    height: 110%;
    width: 90%;
}

#FirstName, #Street, #Password, #RetypedPassword, #PostalCode, #Email {
    width: 45%;
}

#LastName, #City, #Province {
    width: 50%;
}

#HouseNumber, #ApartmentNumber {
    width: 24%;
}

#Phone {
    width: 34%;
}

#Country {
    width: 45%;
}

#CallingCode, #Country {
    height: 100%;
}

#CallingCode {
    width: 14%;
}


#Password, #RetypedPassword {
    height: 50px;
}

#nothingCallingCode, #nothingCountry, .optionSelect {
    padding: 4px;
}

#nothingCallingCode, #nothingCountry {
    display: none;
}

#check1, #check2, #check3, #check4, #check5, #check6, #close7, #check8, #check9, #check10, #check11, #check12, #up1, #up2 {
    display: none;
}

#up2, #down2 {
    left: 68%;
}

#check6, #close6, #close7, #check7 {
    left: 82%
}

#check2, #close2, #check9, #close9, #check4, #close4 {
    left: 91%;
}


#check10, #close10 {
    left: 86.6%;
}

#validationHouseNumber, #validationLastName, #validationApartmentNumber, #validationPhone, #validationCity, #validationProvince {
    transform: translateX(-100%);
}

select:invalid {
    color: #757575;
}

@media only screen and (max-width: 768px) {
    img, #up2, #down2, #check6, #close6, #close7, #check7, #check4, #close4, #check2, #close2, #check9, #close9, #check10, #close10 {
        left: 82%;
    }

    input, .valueSelect, .searchSelect {
        height: 50px;
        border: 1px solid gray;
    }

    #FirstName, #LastName, #Email, #Province, #Street, #HouseNumber, #ApartmentNumber, #PostalCode, #City, #Country, #CallingCode, #Phone, #Password, #RetypedPassword {
        width: 100%;
    }

    #Password, #RetypedPassword {
        margin-bottom: 3%;
    }
}




