#form {
    width: 50%;
}

#codeButton {
    margin-top: 3px;
    margin-bottom: 5px;
}

#Password, #RetypedPassword, #VerificationSms {
    width: 80%;
}

#errorBefore {
    color: #FF5A5F;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: 500;
}

#passwordForm {
    display: none;
}

#passwordForm[data-is-sent="true"] {
    display: block;
}

@media only screen and (max-width: 768px) {
    #CallingCode, #Phone, #VerificationSms, #Password, #RetypedPassword {
        width: 100%;
    }
}
