#form {
    width: 50%;
}

#codeButton {
    margin-top: 3px;
    margin-bottom: 5px;
}

#check4, #check5 {
    display: none;
}

#Password, #RetypedPassword, #VerificationSms {
    width: 80%;
}

#passwordForm {
    display: none;
}

#passwordForm[data-is-sent="true"] {
    display: block;
}

@media only screen and (max-width: 768px) {
    input, .valueSelect, .searchSelect {
        height: 50px;
        border: 1px solid gray;
    }

    #form {
        width: 90%;
    }

    #CallingCode, #Phone, #VerificationSms, #Password, #RetypedPassword {
        width: 100%;
    }
}