#searchBar {
    margin-left: 3%;
    width: 80%;
    height: 40px;
    display: flex;
}

#searchButton, #searchSelect, #searchInput, #searchImage {
    height: 100%;
    vertical-align: middle;
    border-radius: 0;
}

#searchInput {
    width: 60%;
    box-sizing: border-box;
}

#searchSelect {
    background-color: #F0EFF4;
    width: 35%;
}

#searchSelect, #searchInput {
    border: 1px solid #B3B6B7;
}

#searchSelect, #searchInput, #noResults {
    font-family: "Inter", cursive;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 700;
}

#searchButton {
    aspect-ratio: 1 / 1;
    background-color: #48483A;
    cursor: pointer;
}

#pages {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#pagesSelect {
    width: 20%;
    display: flex;
    padding: 7px;
    justify-content: center;
}

#allResults {
    min-height: 680px;
}

.numberPage {
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    height: 100%;
    padding-top: 5px;
    width: 14%;
}

.numberPage:hover {
    opacity: 70%;
}


.selectedPage {
    background-color: #31A49D;
    cursor: default;
}

.selectedPage:hover {
    opacity: 100%;
}

#pages a {
    margin-right: 0;
}

#results {
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
    margin-top: 10px;
}

.result {
    width: 420px;
    min-height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), -4px 8px 20px rgba(0, 0, 0, 0.10);
    overflow: hidden;
}

.result-horizontal {
    display: flex;
}

.result-vertical {
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

#noResults {
    display: none;
}

#noResults[data-results-size="0"] {
    display: block;
}

.name {
    margin-left: 10px;
    margin-top: 10px;
    width: 90%;
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: 800;
    font-size: 16px;

}

.resultIcons {
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    #searchBar {
        width: 94%;
    }

    #searchInput {
        width: 40%;
    }

    #searchSelect {
        width: 55%;
    }

    #searchSelect, #searchInput {
        font-size: 13px;
    }
    #allResults {
        height: auto;
    }
    .result {
        width: 83%;
        height: 170px;
        margin-bottom: 10px;
        margin-left: 0;
    }

    #results {
        justify-content: center;
        margin-left: 0;
    }
}