#reviews {
    height: 680px;
}

#searchBar {
    margin-left: 3%;
    width: 80%;
    height: 40px;
    display: flex;
}

#searchButton, #searchSelect, #searchInput, #searchImage {
    height: 100%;
    vertical-align: middle;
    border-radius: 0;
}

#searchInput {
    width: 60%;
    box-sizing: border-box;
}

#searchSelect {
    background-color: #F0EFF4;
    width: 35%;
}

#searchSelect, #searchInput{
    border: 1px solid #B3B6B7;
}

#searchSelect, #searchInput, #noResults{
    font-family: "Inter", cursive;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 700;
}

#searchButton {
    aspect-ratio: 1 / 1;
    background-color: #48483A;
    cursor: pointer;
}

#pages {
    display: flex;
    padding-left: 35%;
}

#pagesSelect {
    width: 20%;
    display: flex;
    padding: 7px;
    justify-content: center;
}

.numberPage {
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    height: 100%;
    padding-top: 5px;
    width: 14%;
}

.numberPage:hover {
    opacity: 70%;
}

#selectedPage {
    background-color: #31A49D;
    cursor: auto;
}

#selectedPage:hover {
    opacity: 100%;
}

#previousButton{
    margin-right: 0;
}