

.amountHearths {
    display: flex;
    justify-content: flex-end;
}




.amountHearths {
    margin-top: 8px;
    margin-left: 5%;
}

.amount {
    color: #A29C9C;

}

.description, .amount {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.isAdded[data-is-added="1"] ~ .fullHearth, .isAdded[data-is-added="0"] ~ .emptyHearth {
    display: inline;
}

.isAdded[data-is-added="1"] ~ .emptyHearth, .isAdded[data-is-added="0"] ~ .fullHearth {
    display: none;
}


.notLoginHearth {
    cursor: auto;
}

.description {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;
    word-wrap: break-word;
    color: #000000;
}

.stars {
    margin-left: 5%;
    width: 100%;
}

.star {
    height: 30px;
    width: 30px;
}

.delete {
    margin-top: 5px;
}

.yourReview {
    font-weight: 1000;
}
