#form {
    height: 42%;
    width: 50%;
}

#verificationNumberEmail, #verificationNumberSms {
    height: 50px;
}

@media only screen and (max-width: 768px) {
    button {
        margin-right: 5px;
    }
}
