#form {
    height: 42%;
    width: 50%;
}

#check1, #check2 {
    display: none;
}


#verificationNumberEmail, #verificationNumberSms {
    height: 50px;
}

@media only screen and (max-width: 768px) {
    button {
        margin-right: 5px;
    }

}





