@font-face {
    font-family: "Inter";
    src: url('/fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: "Inconsolata";
    src: url('/fonts/Inconsolata.ttf') format('truetype');
}

#form {
    height: 42%;
    width: 50%;
}

img {
    left: 92%;
}

#check1, #check2 {
    display: none;
}


#verificationNumberEmail, #verificationNumberSms {
    height: 50px;
}

@media only screen and (max-width: 768px) {
    #form {
        width: 90%;
    }

    img {
        left: 82%;
    }

    button {
        margin-right: 5px;
    }

    #resetButton {
        margin-top: 20px;
    }

}





