<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/aboutPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/3d9NnZt.png">
</head>
<body onload="atStart()">
<script src="/js/page.js"></script>
<script src="/js/aboutPage.js"></script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
</div>
<div id="body">
    <div id="info">
        <p id="title">MultipleCard</p>
        <div id="text">
            <span class="paragraph" th:text="#{aboutPage.paragraph1.text}">
            </span>
            <span class="paragraph" th:text="#{aboutPage.paragraph2.text}">
            </span>
            <span class="paragraph" th:text="#{aboutPage.paragraph3.text}">
            </span>
            <span class="paragraph" th:text="#{aboutPage.paragraph4.text}">
            </span>
            <span class="paragraph" th:text="#{aboutPage.paragraph5.text}">
            </span>
            <span class="paragraph" th:text="#{aboutPage.paragraph6.text}">
            </span>
            <span class="paragraph" th:text="#{aboutPage.paragraph7.text}">
            </span>
        </div>
        <div id="links">
            <div id="github" onclick="window.location='https://github.com/ThePapiok'">
                <img id="image" src="/images/github-mark.png" alt="github">
                <span id="name">ThePapiok</span>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage" th:title="#{en_language.title_window}">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage" th:title="#{pl_language.title_window}">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>