<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/results.css">
    <link rel="stylesheet" href="/css/confirmation.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/buyProductsPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/TqDY4WA.png">
</head>
<body th:attr="onload=|atStart('${pageSelected}', '${isDescending}', '${field}', '${maxPage}')|">
<script src="/js/page.js"></script>
<script src="/js/results.js"></script>
<script src="/js/products.js"></script>
<script src="/js/buyProductsPage.js"></script>
<script th:inline="javascript">
    let promotions = /*[[${promotions}]]*/ [];
    resetBasket();
</script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
</div>
<div id="body">
    <span hidden th:text="#{promotion.left_products}" id="textLeftProducts"></span>
    <p class="title" th:text="#{products.text}"></p>
    <div id="searchBar">
        <input type="text" id="searchInput" th:placeholder="#{search.text}" th:value="${param.text}">
        <select id="searchSelect">
            <option th:text="#{select_option.most}" value="0"></option>
            <option th:text="#{select_option.least}" value="1"></option>
            <option th:text="#{select_option.latest}" value="2"></option>
            <option th:text="#{select_option.oldest}" value="3"></option>
            <option th:text="#{select_option.most_expensive}" value="4"></option>
            <option th:text="#{select_option.cheapest}" value="5"></option>
            <option th:text="#{select_option.latest_add}" value="6"></option>
            <option th:text="#{select_option.oldest_add}" value="7"></option>
        </select>
        <div id="searchButton" th:attr="onclick=|setParams('/cards?id=' + ${id})|">
            <img id="searchImage" src="/images/search.png" alt="search">
        </div>
        <div id="basket">
            <span id="basketAmount" data-empty="true">0</span>
            <a class="basketUrl" id="emptyBasket">
                <img class="basketImage" src="/images/basket_empty.png" alt="basket">
            </a>
            <a class="basketUrl" id="notEmptyBasket" th:attr="onclick=|goToBasket('${id}')|">
                <img class="basketImage" src="/images/basket.png" alt="basket">
            </a>
        </div>
    </div>
    <p id="error" th:text="${errorMessage}"></p>
    <p id="success" th:text="${successMessage}"></p>
    <div id="allResults">
        <div id="results">
            <div class="result" th:if="${productsSize} > 0" th:each="product : ${products}">
                <div class="result-vertical">
                    <div class="result-horizontal notImageContainer">
                        <span class="name" th:text="${product.product.name}"></span>
                        <span class="amount">0</span>
                        <a class="resultIcons"
                           th:attr="onclick=|addProduct('${product.product.id}', this.previousElementSibling)|">
                            <img src="/images/plus.png" alt="add">
                        </a>
                        <a class="resultIcons"
                           th:attr="onclick=|deleteProduct('${product.product.id}', this.previousElementSibling.previousElementSibling)|">
                            <img src="/images/minus.png" alt="minus">
                        </a>
                    </div>
                    <div class="result-horizontal imageContainer">
                        <img id="productImage" th:src="${product.product.imageUrl}" alt="product">
                        <div class="description" th:text="${product.product.description}">
                        </div>
                    </div>
                    <div class="result-horizontal notImageContainer price" th:data-id="${product.product.id}">
                        <span class="amount fullAmount" th:text="${product.product.amount}/100 + 'zł'"></span>
                        <div hidden class="promotionContainer">
                            <div class="result-horizontal">
                                <div class="result-vertical promotionInfo">
                                    <div class="date">
                                        <span></span>
                                        <span>-</span>
                                        <span></span>
                                    </div>
                                    <span class="productsLeft"></span>
                                </div>
                                <div class="promotionAmount">
                                    <span class="amount promotion" th:text="${product.product.amount}/100"></span>
                                    <span class="amount"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span th:data-results-size="${productsSize}" th:text="#{select.no_results}" id="noResults"></span>
        </div>
    </div>
    <div id="pages">
        <a>
            <button id="previousPage" class="darkGreenButton" th:text="#{reviewPage.button.previous}"
                    onclick="previousPage()"></button>
        </a>
        <div id="pagesSelect">
            <span class="numberPage" th:id="'page' + ${page}" th:each="page: ${pages}" th:text="${page}"
                  th:if="${productsSize} != 0" th:attr="onclick=|setPage('${maxPage}', '${page}')|"></span>
        </div>
        <a>
            <button id="nextPage" class="darkGreenButton" th:text="#{reviewPage.button.next}"
                    th:attr="onclick=|nextPage('${maxPage}')|"></button>
        </a>
    </div>
    <div id="delete" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{productsPage.delete.title}" class="confirmationTitle"></p>
            <div>
                <a>
                    <button type="button" class="darkGreenButton" th:text="#{button.yes}"
                            th:attr="onclick=|deleteProduct()|"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideDeleteProduct()"></button>
                </a>
            </div>
        </div>
    </div>
    <div id="block" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{productsPage.block.title}" class="confirmationTitle"></p>
            <div>
                <a>
                    <button type="button" class="darkGreenButton" th:text="#{button.yes}"
                            th:attr="onclick=|blockProduct()|"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideBlockProduct()"></button>
                </a>
            </div>
            <p th:text="#{productsPage.block.info}" id="blockInfo"></p>
        </div>
    </div>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage" th:href="@{'?lang=eng'}">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage" th:href="@{'?lang=pl'}">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>
