<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/results.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/shopInfo.css">
    <link rel="stylesheet" href="/css/cartPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/TqDY4WA.png">
</head>
<body th:attr="onload=|atStart('${pageSelected}')|">
<script src="/js/page.js"></script>
<script src="/js/productsId.js"></script>
<script src="/js/shopInfo.js"></script>
<script src="/js/cartPage.js"></script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
</div>
<div id="body">
    <span hidden th:text="#{promotion.left_products}" id="textLeftProducts"></span>
    <span hidden th:text="#{cartPage.error.new_quantity_promotion}" id="textGetNewQuantity"></span>
    <span hidden th:text="#{cartPage.error.too_many_products}" id="textTooManyProducts"></span>
    <p class="title" th:text="#{cartPage.title}"></p>
    <div id="buyContainer">
        <span id="totalAmount"></span>
        <a id="buyUrl" onclick="buyProducts(this.firstElementChild)">
            <button id="buyButton" class="grayButton" th:text="#{cartPage.button.buy_products}"></button>
        </a>
    </div>
    <p id="error"></p>
    <div id="allResults">
        <div id="results">
            <span data-results-empty="true" th:text="#{select.no_results}" id="noResults"></span>
        </div>
    </div>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>
