<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/results.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/shopInfo.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/confirmation.css">
    <link rel="stylesheet" href="/css/cartPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/3d9NnZt.png">
</head>
<body th:attr="onload=|atStart('${pageSelected}')|">
<script src="/js/page.js"></script>
<script src="/js/productsId.js"></script>
<script src="/js/shopInfo.js"></script>
<script src="/js/cartPage.js"></script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
    <a th:href="@{/logout}" class="h1 headerButton" sec:authorize="isAuthenticated()">
        <button class="redButton" th:text="#{button.logout}"></button>
    </a>
</div>
<div id="body">
    <span hidden th:text="#{promotion.left_products}" id="textLeftProducts"></span>
    <span hidden th:text="#{cartPage.error.new_quantity_promotion}" id="textGetNewQuantity"></span>
    <span hidden th:text="#{cartPage.error.too_many_products}" id="textTooManyProducts"></span>
    <span hidden th:text="${points}" id="points"></span>
    <span hidden th:text="#{add_product.text}" id="textAddProduct"></span>
    <span hidden th:text="#{delete_product.text}" id="textDeleteProduct"></span>
    <span hidden th:text="#{delete.title_window}" id="textDelete"></span>
    <span hidden sec:authorize="hasRole('USER')" id="isUser"></span>
    <p class="title" th:text="#{cartPage.title}"></p>
    <div class="block-horizontally" id="yourPoints" sec:authorize="hasRole('USER')">
        <label>
            <label class="placeholderWithInput">
                <label class="placeholderInput" th:text="#{points_text}"
                       id="placeholderTotalAmount">
                </label>
                <label class="inputs" id="inputTotalAmount">
                    <span th:text="${points}"></span>
                </label>
            </label>
        </label>
    </div>
    <div class="buyContainer">
        <span id="totalAmount"></span>
        <a class="buyUrl" onclick="buyProducts(this.firstElementChild)">
            <button id="buyButton" class="grayButton" th:text="#{cartPage.button.buy_products}"></button>
        </a>
    </div>
    <div id="conf" sec:authorize="hasRole('USER')"></div>
    <div class="buyContainer" sec:authorize="hasRole('USER')">
        <span id="totalPoints"></span>
        <a class="buyUrl" onclick="showOrHideBuyProducts(this.parentElement.previousElementSibling)">
            <button id="buyButtonPoints" class="grayButton" th:text="#{cartPage.button.buy_products}"></button>
        </a>
    </div>
    <p id="error"></p>
    <div id="allResults">
        <div id="results">
            <span data-results-empty="true" th:text="#{select.no_results}" id="noResults"></span>
        </div>
    </div>
    <div id="buy" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{cartPage.buy_confirmation_message}" class="confirmationTitle"></p>
            <div>
                <a>
                    <button type="button" class="darkGreenButton" th:text="#{button.yes}"
                            th:attr="onclick=|buyProductsByPoints(document.getElementById('buyButtonPoints'))|"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideBuyProducts()"></button>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage" th:title="#{en_language.title_window}">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage" th:title="#{pl_language.title_window}">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>
