<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/verification.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/3d9NnZt.png">
</head>
<body onload="atStart()">
<script src="/js/page.js"></script>
<script src="/js/disable.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/changePasswordPage.js"></script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
    <a th:href="@{/logout}" class="h1 headerButton">
        <button class="redButton" th:text="#{button.logout}"></button>
    </a>
</div>
<div id="body">
    <p class="title" th:text="#{changePasswordPage.title}"></p>
    <form th:action="@{/password_change}" id="form" method="post" th:object="${changePassword}">
        <div class="block-horizontally">
            <label id="VerificationSms">
                <label class="inputs">
                    <input disabled th:field="*{code}" id="verificationNumberSms" type="text"
                           th:placeholder="#{codeSms.text}" required
                           oninput="checkVerificationSms(this, 1)" minlength="7" maxlength="7"
                           onmouseenter="showValidation(this, 'VerificationSms')"
                           onmouseleave="hideValidation('VerificationSms')">
                    <img id="close1" src="/images/close.png" alt="close">
                    <img hidden id="check1" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation">
                <span th:text="#{codeSms.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.only_digits}"></li>
                    <li th:text="#{validation.prefix_length_is} + ' 6'"></li>
                </ul>
            </div>
        </div>
        <div class="block-horizontally">
            <label id="OldPassword">
                <label class="inputs">
                    <input disabled type="password" th:field="*{oldPassword}"
                           th:placeholder="#{changePasswordPage.oldPassword.text}" required
                           oninput="checkOldPassword(this)"
                           minlength="6" maxlength="25" onmouseenter="showValidation(this, 'OldPassword')"
                           onmouseleave="hideValidation('OldPassword')">
                    <img id="close2" src="/images/close.png" alt="close">
                    <img hidden id="check2" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation">
                <span th:text="#{password.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.prefix_length} + ' 6 ' + #{validation.suffix_length} + ' 25'"></li>
                    <li th:text="#{password.validation.1_condition}"></li>
                    <li th:text="#{password.validation.2_condition}"></li>
                    <li th:text="#{password.validation.3_condition}"></li>
                    <li th:text="#{password.validation.4_condition}"></li>
                </ul>
            </div>
        </div>
        <div class="block-horizontally">
            <label id="Password">
                <label class="inputs">
                    <input disabled type="password" th:field="*{password}" th:placeholder="#{password.text}" required
                           oninput="checkPassword(this, 3)"
                           minlength="6" maxlength="25" onmouseenter="showValidation(this, 'Password')"
                           onmouseleave="hideValidation('Password')">
                    <img id="close3" src="/images/close.png" alt="close">
                    <img hidden id="check3" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation">
                <span th:text="#{password.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.prefix_length} + ' 6 ' + #{validation.suffix_length} + ' 25'"></li>
                    <li th:text="#{password.validation.1_condition}"></li>
                    <li th:text="#{password.validation.2_condition}"></li>
                    <li th:text="#{password.validation.3_condition}"></li>
                    <li th:text="#{password.validation.4_condition}"></li>
                </ul>
            </div>
        </div>
        <div class="block-horizontally">
            <label id="RetypedPassword">
                <label class="inputs">
                    <input disabled type="password" th:field="*{retypedPassword}"
                           th:placeholder="#{retypedPassword.text}" required
                           oninput="checkRetypedPassword(this, 4)" minlength="6" maxlength="25"
                           onmouseenter="showValidation(this, 'RetypedPassword')"
                           onmouseleave="hideValidation('RetypedPassword')">
                    <img id="close4" src="/images/close.png" alt="close">
                    <img hidden id="check4" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation">
                <span th:text="#{retypedPassword.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{retypedPassword.validation.1_condition}"></li>
                </ul>
            </div>
        </div>
        <p id="error" th:text="${errorMessage}"></p>
        <a>
            <button type="button" class="grayButton" id="changePasswordButton"
                    th:text="#{password.button.change}" onmousedown="pressedCorrectButton()"></button>
        </a>
        <a>
            <button type="button" class="blackButton"
                    th:text="#{codeSms.text}" th:attr="onclick=|getSmsCode('${phone}', 'codeSmsChange', false, true)|"
                    onmousedown="pressedCorrectButton()"></button>
        </a>
        <a th:href="@{'/password_change?reset'}">
            <button type="button" class="redButton" id="resetButton"
                    th:text="#{button.reset}" onmousedown="pressedCorrectButton()"></button>
        </a>
    </form>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>