<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/choiceOwnerCardPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/3d9NnZt.png">
</head>
<body onload="atStart()">
<script src="/js/page.js"></script>
<script src="/js/choiceOwnerCardPage.js"></script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
    <a th:href="@{/logout}" class="h1 headerButton">
        <button class="redButton" th:text="#{button.logout}"></button>
    </a>
</div>
<div id="body">
    <p class="title" th:text="#{products.text}"></p>
    <div id="choice">
        <a onclick="goToProducts()">
            <button class="blackButton" th:text="#{choiceOwnerCardPage.button.products}"></button>
        </a>
        <a onclick="goToBuy()">
            <button class="blackButton" th:text="#{choiceOwnerCardPage.button.buy}"></button>
        </a>
    </div>

</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>
