<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/reviews.css">
    <link rel="stylesheet" href="/css/results.css">
    <link rel="stylesheet" href="/css/confirmation.css">
    <link rel="stylesheet" href="/css/reports.css">
    <link rel="stylesheet" href="/css/landingPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/3d9NnZt.png">
</head>
<body onload="atStart()">
<script src="/js/page.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/reviews.js"></script>
<script src="/js/reports.js"></script>
<script src="/js/block.js"></script>
<script src="/js/deleteReviewAndMuteUser.js"></script>
<script src="/js/landingPage.js"></script>
<script th:inline="javascript">
    resetBasket();
</script>
<div id="header">
    <a sec:authorize="isAnonymous()" th:href="@{/login}" class="h2 headerButton">
        <button class="blackButton" th:text="#{button.login}"></button>
    </a>
    <a sec:authorize="isAnonymous()" th:href="@{/register}" class="h1 headerButton">
        <button class="redButton" th:text="#{button.register}"></button>
    </a>
    <a sec:authorize="isAuthenticated()" th:href="@{/profile}" class="h2 headerButton">
        <button class="blackButton" th:text="#{button.profile}"></button>
    </a>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="h1 headerButton">
        <button class="redButton" th:text="#{button.logout}"></button>
    </a>
    <a sec:authorize="hasRole('SHOP')" th:href="@{/products}" class="h3 headerButton">
        <button class="blackButton" th:text="#{button.products}"></button>
    </a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin_panel}" class="h3 headerButton">
        <button class="blackButton">Admin panel</button>
    </a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/products}" class="h4 headerButton">
        <button class="blackButton" th:text="#{button.products}"></button>
    </a>
    <a sec:authorize="hasRole('SHOP')" th:href="@{/orders}" class="h4 headerButton">
        <button class="blackButton" th:text="#{button.orders}"></button>
    </a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/categories}" id="h6" class="headerButton">
        <button class="blackButton" th:text="#{categories.title}"></button>
    </a>
</div>
<div id="body">
    <div id="info">
        <p class="title">MultipleCard</p>
        <a th:href="@{/about}">
            <button class="blackButton" id="b1" th:text="#{landingPage.button.about}"></button>
        </a>
        <img id="image" src="/images/holdingCard.jpg" alt="holdingCard">
    </div>
    <p id="error" th:text="${errorMessage}"></p>
    <p id="success" th:text="${successMessage}"></p>
    <span id="recenzje" th:text="#{reviews.title}"></span>
    <span id="noResults" th:data-results-size="${reviewsSize}" th:text="#{landingPage.review.not_found}"></span>
    <span hidden th:text="#{success.block_user}" id="textSuccessBlockUser"></span>
    <span hidden th:text="#{success.delete}" id="textSuccessDelete"></span>
    <span hidden th:text="#{success.mute_user}" id="textSuccessMuteUser"></span>
    <div id="results">
        <div class="result" th:each="review : ${reviews}">
            <div class="result-vertical">
                <div class="result-horizontal">
                    <span class="name yourReview" th:text="#{yourReview.name}" th:if="${review.owner}"></span>
                    <span class="name" th:text="${review.firstName}" th:unless="${review.owner}"></span>
                    <div class="amountHearths">
                        <span class="amount isAdded" th:text="${review.count}"
                              th:data-is-added="${review.isAdded}"></span>
                        <img class="resultIcons notLoginHearth" src="/images/hearth.png" alt="hearth"
                             th:unless="${principal}">
                        <img class="resultIcons fullHearth" src="/images/hearth.png" alt="hearth"
                             th:title="#{delete_like.title_window}"
                             th:attr="onclick=|deleteLike('${review.id}', this)|" th:if="${principal}">
                        <img class="resultIcons emptyHearth" src="/images/hearth_empty.png" alt="hearth"
                             th:title="#{add_like.title_window}"
                             th:attr="onclick=|addLike('${review.id}', this)|" th:if="${principal}">
                        <a class="resultIcons" th:unless="${review.owner}" th:title="#{report.title_window}"
                           th:attr="onclick=|showOrHideReportProduct('${review.id}', this.parentElement.parentElement.parentElement.parentElement)|"
                           sec:authorize="hasRole('USER')">
                            <img src="/images/report.png" alt="report">
                        </a>
                        <a class="resultIcons" sec:authorize="hasRole('ADMIN')" th:title="#{delete_review.title_window}"
                           th:attr="onclick=|showOrHideDeleteReview('${review.id}', this.parentElement.parentElement.parentElement.parentElement)|">
                            <img src="/images/close.png" alt="close">
                        </a>
                        <a class="resultIcons" sec:authorize="hasRole('ADMIN')" th:title="#{mute.title_window}"
                           th:attr="onclick=|showOrHideMuteUser('${review.id}', this.parentElement.parentElement.parentElement.parentElement)|">
                            <img src="/images/mute.png" alt="mute">
                        </a>
                        <a class="resultIcons" sec:authorize="hasRole('ADMIN')" th:title="#{block.title_window}"
                           th:attr="onclick=|showOrHideBlockUser('${review.id}', this.parentElement.parentElement.parentElement.parentElement)|">
                            <img src="/images/block_user.png" alt="block">
                        </a>
                    </div>
                </div>
                <span class="description" th:text="'&quot;' + ${review.review.description} + '&quot;'"></span>
                <div class="result-horizontal">
                    <div class="stars">
                        <img class="star" src="/images/star.png" alt="star"
                             th:each="i : ${#numbers.sequence(1, review.review.rating)}">
                        <img class="star" src="/images/star_empty.png" alt="emptyStar"
                             th:each="i : ${#numbers.sequence(1, 5 - review.review.rating)}"
                             th:if="${review.review.rating} < 5">
                    </div>
                    <img th:title="#{delete_review.title_window}" class="resultIcons delete" src="/images/close.png"
                         alt="delete" th:if="${review.owner}"
                         th:attr="onclick=|removeReview('${review.id}', this)|">
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/reviews}" id="b2">
        <button class="blackButton" th:text="#{landingPage.button.more_reviews}"></button>
    </a>
    <form th:action="@{/reviews}" th:object="${newReview}" id="addOpinion" method="post"
          sec:authorize="hasRole('USER')">
        <label for="text"></label>
        <textarea th:field="*{description}" id="text" required th:placeholder="#{landingPage.review.placeholder}"
                  minlength="2"
                  maxlength="1000" oninput="checkReview(this)"></textarea>
        <div id="starsAndSubmit">
            <label>
                <input th:field="*{rating}" hidden type="number" min="0" max="5" value="0">
            </label>
            <label onclick="setStar(1)">
                <img class="starAtReview" id="unchecked-1" src="/images/star_empty.png" alt="emptyStar">
                <img class="starAtReview" id="checked-1" src="/images/star.png" alt="star">
            </label>
            <label onclick="setStar(2)">
                <img class="starAtReview" id="unchecked-2" src="/images/star_empty.png" alt="emptyStar">
                <img class="starAtReview" id="checked-2" src="/images/star.png" alt="star">
            </label>
            <label onclick="setStar(3)">
                <img class="starAtReview" id="unchecked-3" src="/images/star_empty.png" alt="emptyStar">
                <img class="starAtReview" id="checked-3" src="/images/star.png" alt="star">
            </label>
            <label onclick="setStar(4)">
                <img class="starAtReview" id="unchecked-4" src="/images/star_empty.png" alt="emptyStar">
                <img class="starAtReview" id="checked-4" src="/images/star.png" alt="star">
            </label>
            <label onclick="setStar(5)">
                <img class="starAtReview" id="unchecked-5" src="/images/star_empty.png" alt="emptyStar">
                <img class="starAtReview" id="checked-5" src="/images/star.png" alt="star">
            </label>
            <a>
                <button id="addOpinionButton" type="button" class="grayButton"
                        th:text="#{landingPage.button.send_review}"></button>
            </a>
        </div>
    </form>
    <div id="report" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{report.title}" class="confirmationTitle"></p>
            <textarea id="reportMessage" maxlength="1000" oninput="checkTextLength(this)"></textarea>
            <div>
                <a>
                    <button type="button" id="buttonConfirmation" class="grayButton" th:text="#{button.yes}"
                            onclick="reportProduct(false)"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideReportProduct()"></button>
                </a>
            </div>
        </div>
    </div>
    <div id="block" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{block.title}" class="confirmationTitle withoutText"></p>
            <div>
                <a>
                    <button type="button" id="buttonConfirmationBlock" class="greenButton" th:text="#{button.yes}"
                            onclick="blockUser(false)"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideBlockUser()"></button>
                </a>
            </div>
        </div>
    </div>
    <div id="delete" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{delete.title}" class="confirmationTitle withoutText"></p>
            <div>
                <a>
                    <button type="button" id="buttonConfirmationDelete" class="greenButton" th:text="#{button.yes}"
                            onclick="deleteReview()"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideDeleteReview()"></button>
                </a>
            </div>
        </div>
    </div>
    <div id="mute" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{mute_user.title}" class="confirmationTitle withoutText"></p>
            <div>
                <a>
                    <button type="button" id="buttonConfirmationMute" class="greenButton" th:text="#{button.yes}"
                            onclick="muteUser()"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideMuteUser()"></button>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage" th:title="#{en_language.title_window}">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage" th:title="#{pl_language.title_window}">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>