<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MultipleCard</title>
  <link rel="stylesheet" href="/css/loginPage.css">
  <link rel="icon" type="image/x-icon" href="https://i.imgur.com/C5RsVmp.png">
</head>
<body onload="checkAll()">
<script src="/js/loginPage.js"></script>
<div id="container">
  <div id="header">
    <a th:href="@{/}" >
      <button class="blackButton" id="b1">Strona główna</button>
    </a>
  </div>
  <div id="body">
    <p class="title">Logowanie</p>
    <form th:action="@{/login}" th:object="${login}" id="form" method="post">
    <label id="Login">
      <input th:field="*{login}" type="text" placeholder="Numer telefonu" required oninput="checkLogin(this)" minlength="9" maxlength="9">
      <img id="close1" src="/images/close.png" onmouseenter="showValidation(this)" onmouseleave="hideValidation(this)" alt="close">
      <img id="check1" src="/images/check.png" alt="check">
    </label>
    <div class="validation" id="validationLogin">
        Login musi spełniać następujące warunki:
        <ul>
          <li>długość 9</li>
          <li>zawiera tylko cyfry</li>
        </ul>
    </div>
    <label id="Password">
      <input th:field="*{password}" type="password" placeholder="Hasło" required oninput="checkPassword(this)" minlength="6" maxlength="25">
      <img id="close2" src="/images/close.png" onmouseenter="showValidation(this)" onmouseleave="hideValidation(this)" alt="close">
      <img id="check2"  src="/images/check.png" alt="check">
    </label>
      <div class="validation" id="validationPassword">
        Hasło musi spełniać następujące warunki:
        <ul>
          <li>długość od 6 do 25</li>
          <li>zawiera jedną mała literę</li>
          <li>zawiera jedną wielką literę</li>
          <li>zawiera jedną cyfrę</li>
          <li>zawiera jeden znak specjalny</li>
        </ul>
      </div>
      <p th:if="${param.error}" id="error" th:text="${errorMessage}"></p>
      <p th:if="${param.success}" id="success" th:text="${successMessage}"></p>
      <button type="button" class="grayButton" id="loginButton">Zaloguj</button>
      <a th:href="@{/register}">
        <button type="button" class="blackButton">Załóż konto</button>
      </a>
      <a th:href="@{/password_reset}">
        <button type="button" class="blackButton">Przypomnij hasło</button>
      </a>
    </form>

  </div>
  <div id="footer">
  </div>
</div>
</body>
</html>