<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/loginPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/C5RsVmp.png">
</head>
<body onload="atStart()">
<script src="/js/page.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/loginPage.js"></script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
</div>
<div id="body">
    <p class="title" th:text="#{login.text}"></p>
    <form th:action="@{/login}" id="form" method="post">
        <label hidden for="fullPhone"></label>
        <input hidden name="phone" type="text" readonly id="fullPhone">
        <div class="block-horizontally">
            <label id="CallingCode">
                <input th:value="${callingCode}" id="valueCallingCode" class="valueSelect" type="text" readonly
                       th:placeholder="#{callingCode.text}" onclick="showOrHideCallingCode()" value="">
                <img id="down1" src="/images/keyboard_down.png" alt="down">
                <img id="up1" src="/images/keyboard_up.png" alt="up">
                <input id="searchCallingCode" class="searchSelect" type="text" oninput="searchAll(this, false)">
                <ul id="optionsCallingCode" class="optionsSelect">
                    <li class="optionSelect optionCallingCode" th:data-code="${callingCode.code}"
                        th:data-value="${callingCode.callingCode}" th:each="callingCode : ${callingCodes}"
                        th:text="${callingCode.callingCode} + ' (' + ${callingCode.code} + ')'"
                        onclick="setValueCallingCode(this)"></li>
                    <li id="nothingCallingCode" th:text="#{select.no_results}"></li>
                </ul>
            </label>
            <label id="Phone">
                <input id="phoneInput" type="text" th:placeholder="#{phone.text}" th:value="${phone}" required
                       oninput="checkPhone(this)" minlength="7" maxlength="28" onmouseenter="showValidation(this)"
                       onmouseleave="hideValidation(this)">
                <img id="close1" src="/images/close.png" alt="close">
                <img id="check1" src="/images/check.png" alt="check">
            </label>
            <div class="validation">
                <span th:text="#{phone.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{phone.validation.1_condition}"></li>
                    <li th:text="#{phone.validation.2_condition}"></li>
                </ul>
            </div>
        </div>
        <label id="Password">
            <input name="password" type="password" th:placeholder="#{password.text}" required
                   oninput="checkPassword(this)"
                   minlength="6" maxlength="25" onmouseenter="showValidation(this)" onmouseleave="hideValidation(this)">
            <img id="close2" src="/images/close.png" alt="close">
            <img id="check2" src="/images/check.png" alt="check">
        </label>
        <div class="validation">
            <span th:text="#{password.text} + ' ' + #{validation.text}"></span>
            <ul>
                <li th:text="#{validation.prefix_length} + ' 6 ' + #{validation.suffix_length} + ' 25'"></li>
                <li th:text="#{password.validation.1_condition}"></li>
                <li th:text="#{password.validation.2_condition}"></li>
                <li th:text="#{password.validation.3_condition}"></li>
                <li th:text="#{password.validation.4_condition}"></li>
            </ul>
        </div>
        <p th:if="${param.error}" id="error" th:text="${errorMessage}"></p>
        <p th:if="${param.success}" id="success" th:text="${successMessage}"></p>
        <a>
            <button type="button" class="grayButton" id="loginButton" th:text="#{button.login}"></button>
        </a>
        <a th:href="@{/register}">
            <button type="button" class="blackButton" th:text="#{register.text}"></button>
        </a>
        <a th:href="@{/password_reset}">
            <button type="button" class="blackButton" th:text="#{loginPage.button.password_reset}"></button>
        </a>
    </form>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage" th:href="@{'?lang=eng'}">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage" th:href="@{'?lang=pl'}">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>