<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/image.css">
    <link rel="stylesheet" href="/css/categories.css">
    <link rel="stylesheet" href="/css/productPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/3d9NnZt.png">
</head>
<body onload="atStart()">
<script src="/js/page.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/image.js"></script>
<script src="/js/edit.js"></script>
<script src="/js/price.js"></script>
<script src="/js/categories.js"></script>
<script src="/js/productPage.js"></script>
<script th:inline="javascript">
    let categories = /*[[${productCategories}]]*/ [];
</script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
    <a th:href="@{/logout}" class="h1 headerButton">
        <button class="redButton" th:text="#{button.logout}"></button>
    </a>
</div>
<div id="body">
    <span hidden th:text="#{category.not_selected}" id="textCategoryNotSelected"></span>
    <p class="title" th:text="#{productPage.title}"></p>
    <form th:action="@{/products}" th:object="${product}" id="form" method="post" enctype="multipart/form-data">
        <input hidden th:field="*{id}" th:value="*{id}">
        <div class="block-horizontally">
            <label id="Name">
                <label class="placeholderWithInput">
                    <label class="placeholderInput" th:text="#{product_name.text}">
                    </label>
                    <label class="inputs">
                        <input th:field="*{name}" type="text" required th:value="*{name}"
                               oninput="checkName(this)" minlength="2" maxlength="60"
                               onmouseenter="showValidation(this, 'Name')"
                               onmouseleave="hideValidation('Name')">
                        <img hidden id="close1" src="/images/close.png" alt="close">
                        <img hidden id="check1" src="/images/check.png" alt="check">
                    </label>
                </label>
            </label>
            <div class="validation">
                <span th:text="#{product_name.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.starts_uppercase}"></li>
                    <li th:text="#{validation.only_letters}"></li>
                    <li th:text="#{validation.prefix_length} + ' 2 ' + #{validation.suffix_length} + ' 60'"></li>
                </ul>
            </div>
            <label id="Barcode">
                <label class="placeholderWithInput">
                    <label class="placeholderInput" th:text="#{product_barcode.text}">
                    </label>
                    <label class="inputs">
                        <input th:field="*{barcode}" type="text" required th:value="*{barcode}"
                               oninput="checkBarcode(this)" minlength="13" maxlength="13"
                               onmouseenter="showValidation(this, 'Barcode')"
                               onmouseleave="hideValidation('Barcode')">
                        <img hidden id="close2" src="/images/close.png" alt="close">
                        <img hidden id="check2" src="/images/check.png" alt="check">
                    </label>
                </label>
            </label>
            <div class="validation" id="validationBarcode">
                <span th:text="#{product_barcode.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.prefix_length_is} + ' 13'"></li>
                    <li th:text="#{validation.only_digits}"></li>
                </ul>
            </div>
        </div>
        <div class="block-horizontally">
            <label id="Price">
                <label class="placeholderWithInput">
                    <label class="placeholderInput" th:text="#{product_price.text}">
                    </label>
                    <label class="inputs">
                        <input th:field="*{price}" type="text" required th:value="*{price}"
                               oninput="checkPrice(this)" minlength="2" maxlength="7"
                               onmouseenter="showValidation(this, 'Price')"
                               onmouseleave="hideValidation('Price')" onfocusout="unfocusedPrice(this)"
                               onfocus="focusedPrice(this)">
                        <img hidden id="close3" src="/images/close.png" alt="close">
                        <img hidden id="check3" src="/images/check.png" alt="check">
                    </label>
                </label>
            </label>
            <div class="validation">
                <span th:text="#{product_price.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.prefix_length} + ' 2 ' + #{validation.suffix_length} + ' 7'"></li>
                    <li th:text="#{validation.not_negative}"></li>
                    <li th:text="#{validation.only_digits}"></li>
                </ul>
            </div>
            <label id="Category">
                <label class="inputs">
                    <input id="categoryInput" type="text" th:placeholder="#{product_category.text}"
                           oninput="checkCategory(this)"
                           minlength="2" maxlength="30" onmouseenter="showValidation(this, 'Category')"
                           onmouseleave="hideValidation('Category')" onclick="showOrHideCategory()">
                    <img id="close4" hidden src="/images/close.png" alt="close">
                    <img id="check4" hidden src="/images/check.png" alt="check">
                </label>
                <div id="categories">
                    <label class="inputs selectedCategory">
                        <input hidden id="inputCategory1" type="text" name="category[0]">
                        <input readonly id="category1" th:value="#{category.not_selected}">
                        <img id="delete1" class="deleteCategory" src="/images/close.png" alt="close"
                             onclick="deleteCategory(this, true)">
                    </label>
                    <label class="inputs selectedCategory">
                        <input hidden id="inputCategory2" type="text" name="category[1]">
                        <input readonly id="category2" th:value="#{category.not_selected}">
                        <img id="delete2" class="deleteCategory" src="/images/close.png" alt="close"
                             onclick="deleteCategory(this, true)">
                    </label>
                    <label class="inputs selectedCategory">
                        <input hidden id="inputCategory3" type="text" name="category[2]">
                        <input readonly id="category3" th:value="#{category.not_selected}">
                        <img id="delete3" class="deleteCategory" src="/images/close.png" alt="close"
                             onclick="deleteCategory(this, true)">
                    </label>
                </div>
                <ul id="optionsCategory" class="optionsSelect">
                    <div class="inputs">
                        <li id="typedCategory" class="optionSelect optionCategory"
                            onclick="setValueCategory(this, true, true)"
                            onmouseenter="showValidation(this, 'validationCategory')"
                            onmouseleave="hideValidation('validationCategory')"></li>
                        <img id="closeTypedCategory" src="/images/close.png" alt="close">
                        <img id="checkTypedCategory" hidden src="/images/check.png" alt="check">
                    </div>
                    <li class="optionSelect optionCategory" th:each="category : ${categories}"
                        th:text="${category}"
                        onclick="setValueCategory(this, false, true)"></li>
                </ul>
            </label>
            <div class="validation" id="validationCategory">
                <span th:text="#{product_category.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{addProductPage.category.validation1}"></li>
                </ul>
            </div>
            <div class="validation" id="validationTypedCategory">
                <span th:text="#{product_category.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.starts_uppercase}"></li>
                    <li th:text="#{validation.only_letters}"></li>
                    <li th:text="#{validation.max_2_parts}"></li>
                    <li th:text="#{validation.prefix_length} + ' 2 ' + #{validation.suffix_length} + ' 30'"></li>
                </ul>
            </div>
        </div>
        <div class="block-horizontally" id="descriptionInput">
            <label id="Description">
                <label class="placeholderWithInput">
                    <label class="placeholderInput" th:text="#{product_description.text}">
                    </label>
                    <label class="inputs">
            <textarea id="inputEdit" th:field="*{description}" th:placeholder="#{product_description.text}" required
                      oninput="checkDescription(this)" minlength="5" maxlength="1000"
                      onmouseenter="showValidation(this, 'Description')"
                      onmouseleave="hideValidation('Description')" style="color: lightgray"></textarea>
                        <img hidden id="close5" src="/images/close.png" alt="close">
                        <img hidden id="check5" src="/images/check.png" alt="check">
                    </label>
                </label>
            </label>
            <div class="validation" id="validationDescription">
                <span th:text="#{product_description.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.prefix_length} + ' 5 ' + #{validation.suffix_length} + ' 1000'"></li>
                </ul>
            </div>
        </div>
        <p th:text="#{product_image.text}" id="titleUploadImage"></p>
        <label id="uploadFile" onmouseenter="showValidation(this, 'uploadFile')"
               onmouseleave="hideValidation('uploadFile')">
            <input th:field="*{file}" type="file" oninput="setImage(this, false, 7, true)"
                   accept="image/png, image/jpeg">
            <img id="noImage" src="/images/upload.png" alt="upload">
            <img id="image" th:src="*{imageUrl}" alt="image">
        </label>
        <div class="validation">
            <span th:text="#{product_image.text} + ' ' + #{validation.text}"></span>
            <ul>
                <li th:text="#{upload_image.validation1}"></li>
                <li th:text="#{upload_image.validation2}"></li>
                <li th:text="#{upload_image.validation3}"></li>
            </ul>
        </div>
        <p id="errorFile"></p>
        <p id="success" th:text="${successMessage}"></p>
        <p id="error" th:text="${errorMessage}"></p>
        <a>
            <button type="button" class="grayButton" id="saveButton" th:text="#{button.save}"
                    onclick="changeCursor(this)"
                    onmousedown="pressedCorrectButton()"></button>
        </a>
        <a th:href="@{/products}">
            <button type="button" class="redButton" th:text="#{button.reset}"></button>
        </a>
    </form>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>