<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/results.css">
    <link rel="stylesheet" href="/css/confirmation.css">
    <link rel="stylesheet" href="/css/productsPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/TqDY4WA.png">
</head>
<body th:attr="onload=|atStart('${pageSelected}', '${isDescending}', '${field}', '${maxPage}')|">
<script src="/js/page.js"></script>
<script src="/js/results.js"></script>
<script src="/js/productsPage.js"></script>
<script th:inline="javascript">
    let ids = /*[[${ids}]]*/ [];
    let promotions = /*[[${promotions}]]*/ [];
</script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
    <a th:href="@{/logout}" class="h1 headerButton">
        <button class="redButton" th:text="#{button.logout}"></button>
    </a>
</div>
<div id="body">
    <span hidden th:text="#{productsPage.product.left_products}" id="textLeftProducts"></span>
    <p class="title" th:text="#{productsPage.title}"></p>
    <div id="searchBar">
        <input type="text" id="searchInput" th:placeholder="#{search.text}" th:value="${param.text}">
        <select id="searchSelect">
            <option th:text="#{productsPage.select_option.most}" value="0"></option>
            <option th:text="#{productsPage.select_option.least}" value="1"></option>
            <option th:text="#{productsPage.select_option.latest}" value="2"></option>
            <option th:text="#{productsPage.select_option.oldest}" value="3"></option>
        </select>
        <div id="searchButton" onclick="setParams()">
            <img id="searchImage" src="/images/search.png" alt="search">
        </div>
        <a href="/add_product" id="addProduct">
            <button class="greenButton" th:text="#{add_product.text}"></button>
        </a>
    </div>
    <p th:if="${param.error}" id="error" th:text="${errorMessage}"></p>
    <p th:if="${param.success}" id="success" th:text="${successMessage}"></p>
    <div id="allResults">
        <div id="results">
            <div class="result" th:if="${productsSize} > 0" th:each="product : ${products}"
                 th:data-is-active="${product.active}" th:attr="onclick=|productInfo('${product.product.id}')|">
                <div class="result-vertical">
                    <div class="result-horizontal notImageContainer">
                        <span class="name" th:text="${product.product.name}"></span>
                        <a class="resultIcons"
                           th:attr="onclick=|showOrHideBlockProduct('${product.product.id}', this.parentElement.parentElement.parentElement)|"
                           th:if="${product.active}">
                            <img src="/images/block.png" alt="block">
                        </a>
                        <a class="resultIcons" th:attr="onclick=|unblockProduct('${product.product.id}')|"
                           th:unless="${product.active}">
                            <img src="/images/unblock.png" alt="unblock">
                        </a>
                        <a th:href="@{'/promotions?id=' + ${product.product.id}}" class="resultIcons">
                            <img src="/images/discount.png" alt="discount" id="discountIcon">
                        </a>
                        <a class="resultIcons"
                           th:attr="onclick=|showOrHideDeleteProduct('${product.product.id}', this.parentElement.parentElement.parentElement)|">
                            <img src="/images/close.png" alt="close">
                        </a>
                    </div>
                    <div class="result-horizontal imageContainer">
                        <img id="productImage" th:src="${product.product.imageUrl}" alt="product">
                        <div class="description" th:text="${product.product.description}">
                        </div>
                    </div>
                    <div class="result-horizontal notImageContainer price" th:data-id="${product.product.id}">
                        <span class="amount fullAmount" th:text="${product.product.amount}/100 + 'zł'"></span>
                        <div hidden class="promotionContainer">
                            <div class="result-horizontal">
                                <div class="result-vertical promotionInfo">
                                    <div class="date">
                                        <span></span>
                                        <span>-</span>
                                        <span></span>
                                    </div>
                                    <span class="productsLeft"></span>
                                </div>
                                <div class="promotionAmount">
                                    <span class="amount promotion" th:text="${product.product.amount}/100"></span>
                                    <span class="amount"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span th:data-results-size="${productsSize}" th:text="#{select.no_results}" id="noResults"></span>
        </div>
    </div>
    <div id="pages">
        <a>
            <button id="previousPage" class="darkGreenButton" th:text="#{reviewPage.button.previous}"
                    onclick="previousPage()"></button>
        </a>
        <div id="pagesSelect">
            <span class="numberPage" th:id="'page' + ${page}" th:each="page: ${pages}" th:text="${page}"
                  th:if="${productsSize} != 0" th:attr="onclick=|setPage('${maxPage}', '${page}')|"></span>
        </div>
        <a>
            <button id="nextPage" class="darkGreenButton" th:text="#{reviewPage.button.next}"
                    th:attr="onclick=|nextPage('${maxPage}')|"></button>
        </a>
    </div>
    <div id="delete" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{productsPage.delete.title}" class="confirmationTitle"></p>
            <div>
                <a>
                    <button type="button" class="darkGreenButton" th:text="#{button.yes}"
                            th:attr="onclick=|deleteProduct()|"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideDeleteProduct()"></button>
                </a>
            </div>
        </div>
    </div>
    <div id="block" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{productsPage.block.title}" class="confirmationTitle"></p>
            <div>
                <a>
                    <button type="button" class="darkGreenButton" th:text="#{button.yes}"
                            th:attr="onclick=|blockProduct()|"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideBlockProduct()"></button>
                </a>
            </div>
            <p th:text="#{productsPage.block.info}" id="blockInfo"></p>
        </div>
    </div>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage" th:href="@{'?lang=eng'}">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage" th:href="@{'?lang=pl'}">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>
