<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/registerShopPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/C5RsVmp.png">
</head>
<body onload="atStart()">
<script src="/js/page.js"></script>
<script src="/js/forms.js"></script>
<script th:inline="javascript">
    const list = /*[[${countries}]]*/ [];
</script>
<script th:inline="javascript">
    const points = /*[[${register.address}]]*/ [];
</script>
<script src="/js/registerShopPage.js"></script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
</div>
<div id="body">
    <span hidden th:text="#{registerShopPage.place.text}" id="textPlace"></span>
    <span hidden th:text="#{street.text}" id="textStreet"></span>
    <span hidden th:text="#{validation.text}" id="textValidation"></span>
    <span hidden th:text="#{validation.each_part_uppercase}" id="textValidationPartUppercase"></span>
    <span hidden th:text="#{validation.only_letters}" id="textValidationOnlyLetters"></span>
    <span hidden th:text="#{validation.max_2_parts}" id="textValidationMax2Parts"></span>
    <span hidden th:text="#{validation.prefix_length}" id="textValidationPrefixLength"></span>
    <span hidden th:text="#{validation.prefix_length_is}" id="textValidationPrefixLengthIs"></span>
    <span hidden th:text="#{validation.suffix_length}" id="textValidationSuffixLength"></span>
    <span hidden th:text="#{houseNumber.text}" id="textHouseNumber"></span>
    <span hidden th:text="#{houseNumber.validation.1_condition}" id="textHouseNumberValidation1"></span>
    <span hidden th:text="#{houseNumber.validation.2_condition}" id="textHouseNumberValidation2"></span>
    <span hidden th:text="#{apartmentNumber.text}" id="textApartmentNumber"></span>
    <span hidden th:text="#{apartmentNumber.validation.1_condition}" id="textApartmentNumberValidation1"></span>
    <span hidden th:text="#{apartmentNumber.validation.2_condition}" id="textApartmentNumberValidation2"></span>
    <span hidden th:text="#{validation.only_digits}" id="textValidationOnlyDigits"></span>
    <span hidden th:text="#{postalCode.text}" id="textPostalCode"></span>
    <span hidden th:text="#{city.text}" id="textCity"></span>
    <span hidden th:text="#{country.text}" id="textCountry"></span>
    <span hidden th:text="#{province.text}" id="textProvince"></span>
    <span hidden th:text="#{select.no_results}" id="textNoResults"></span>
    <span hidden th:text="#{registerShopPage.upload_image.bad_type}" id="textBadType"></span>
    <span hidden th:text="#{registerShopPage.upload_image.too_big}" id="textTooBig"></span>
    <span hidden th:text="#{registerShopPage.upload_image.too_small}" id="textTooSmall"></span>
    <p class="title" th:text="#{register.text}"></p>
    <form th:action="@{/register_shop}" th:object="${register}" id="form" method="post" enctype="multipart/form-data">
        <div class="block-horizontally">
            <label id="FirstName">
                <label class="inputs">
                    <input th:field="*{firstName}" type="text" th:placeholder="#{firstName.text}" required
                           oninput="checkFirstName(this, 1)" minlength="2" maxlength="15"
                           onmouseenter="showValidation(this, 'FirstName')" onmouseleave="hideValidation('FirstName')">
                    <img id="close1" src="/images/close.png" alt="close">
                    <img id="check1" hidden src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation">
                <span th:text="#{firstName.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.starts_uppercase}"></li>
                    <li th:text="#{validation.only_letters}"></li>
                    <li th:text="#{validation.prefix_length} + ' 2 ' + #{validation.suffix_length} + ' 15'"></li>
                </ul>
            </div>
            <label id="LastName">
                <label class="inputs">
                    <input th:field="*{lastName}" type="text" th:placeholder="#{lastName.text}" required
                           oninput="checkLastName(this, 2)" minlength="2" maxlength="40"
                           onmouseenter="showValidation(this, 'LastName')" onmouseleave="hideValidation('LastName')">
                    <img id="close2" src="/images/close.png" alt="close">
                    <img id="check2" hidden src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation" id="validationLastName">
                <span th:text="#{lastName.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.max_2_parts}"></li>
                    <li th:text="#{validation.each_part_uppercase}"></li>
                    <li th:text="#{validation.only_letters}"></li>
                    <li th:text="#{validation.prefix_length} + ' 2 ' + #{validation.suffix_length} + ' 40'"></li>
                </ul>
            </div>
        </div>
        <div class="block-horizontally">
            <label id="Email">
                <label class="inputs">
                    <input th:field="*{email}" type="text" placeholder="Email" required oninput="checkEmail(this, 3)"
                           minlength="4" maxlength="30" onmouseenter="showValidation(this, 'Email')"
                           onmouseleave="hideValidation('Email')">
                    <img id="close3" src="/images/close.png" alt="close">
                    <img id="check3" hidden src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation">
                <span th:text="'Email ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.prefix_length} + ' 4 ' + #{validation.suffix_length} + ' 30'"></li>
                    <li th:text="#{email.validation.1_condition}"></li>
                </ul>
            </div>
            <label id="CallingCode">
                <label class="inputs">
                    <input th:field="*{callingCode}" id="valueCallingCode" class="valueSelect" type="text" readonly
                           th:placeholder="#{callingCode.text}" onclick="showOrHideCallingCode('up4', 'down4')"
                           value="">
                    <img id="down4" src="/images/keyboard_down.png" alt="down">
                    <img id="up4" hidden src="/images/keyboard_up.png" alt="up">
                </label>
                <input id="searchCallingCode" class="searchSelect" type="text"
                       oninput="searchAll(this, false)">
                <ul id="optionsCallingCode" class="optionsSelect">
                    <li class="optionSelect optionCallingCode" th:data-code="${callingCode.code}"
                        th:data-value="${callingCode.callingCode}" th:each="callingCode : ${callingCodes}"
                        th:text="${callingCode.callingCode} + ' (' + ${callingCode.code} + ')'"
                        onclick="setValueCallingCode(this, 4)"></li>
                    <li id="nothingCallingCode" th:text="#{select.no_results}"></li>
                </ul>
            </label>
            <label id="Phone">
                <label class="inputs">
                    <input th:field="*{phone}" type="text" th:placeholder="#{phone.text}" required
                           oninput="checkPhone(this, 5)"
                           maxlength="28" minlength="7" onmouseenter="showValidation(this, 'Phone')"
                           onmouseleave="hideValidation('Phone')">
                    <img id="close5" src="/images/close.png" alt="close">
                    <img id="check5" hidden src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation" id="validationPhone">
                <span th:text="#{phone.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{phone.validation.1_condition}"></li>
                    <li th:text="#{phone.validation.2_condition}"></li>
                </ul>
            </div>
        </div>
        <div class="block-horizontally">
            <label id="Password">
                <label class="inputs">
                    <input th:field="*{password}" type="password" th:placeholder="#{password.text}" required
                           oninput="checkPassword(this, 6)"
                           minlength="6" maxlength="25" onmouseenter="showValidation(this, 'Password')"
                           onmouseleave="hideValidation('Password')">
                    <img id="close6" src="/images/close.png" alt="close">
                    <img id="check6" hidden src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation">
                <span th:text="#{password.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.prefix_length} + ' 6 ' + #{validation.suffix_length} + ' 25'"></li>
                    <li th:text="#{password.validation.1_condition}"></li>
                    <li th:text="#{password.validation.2_condition}"></li>
                    <li th:text="#{password.validation.3_condition}"></li>
                    <li th:text="#{password.validation.4_condition}"></li>
                </ul>
            </div>
            <label id="RetypedPassword">
                <label class="inputs">
                    <input th:field="*{retypedPassword}" type="password" th:placeholder="#{retypedPassword.text}"
                           required
                           oninput="checkRetypedPassword(this, 7)" minlength="6" maxlength="25"
                           onmouseenter="showValidation(this, 'RetypedPassword')"
                           onmouseleave="hideValidation('RetypedPassword')">
                    <img id="close7" src="/images/close.png" alt="close">
                    <img id="check7" hidden src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation" id="validationRetypedPassword">
                <span th:text="#{retypedPassword.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{retypedPassword.validation.1_condition}"></li>
                </ul>
            </div>
        </div>
        <div class="block-horizontally">
            <label id="Name">
                <label class="inputs">
                    <input th:field="*{name}" type="text" th:placeholder="#{shop_name.text}" required
                           oninput="checkShopName(this)" minlength="2" maxlength="20"
                           onmouseenter="showValidation(this, 'Name')"
                           onmouseleave="hideValidation('Name')">
                    <img id="close8" src="/images/close.png" alt="close">
                    <img id="check8" hidden src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation">
                <span th:text="#{shop_name.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.prefix_length} + ' 2 ' + #{validation.suffix_length} + ' 20'"></li>
                </ul>
            </div>
            <label id="AccountNumber">
                <label class="inputs">
                    <input th:field="*{accountNumber}" type="text"
                           th:placeholder="#{registerShopPage.account_number.text}" required
                           oninput="checkAccountNumber(this)" minlength="26" maxlength="26"
                           onmouseenter="showValidation(this, 'AccountNumber')"
                           onmouseleave="hideValidation('AccountNumber')">
                    <img id="close9" src="/images/close.png" alt="close">
                    <img id="check9" hidden src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation" id="validationAccountNumber">
                <span th:text="#{registerShopPage.account_number.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.only_digits}"></li>
                    <li th:text="#{validation.prefix_length_is} + ' 26'"></li>
                </ul>
            </div>
        </div>
        <p th:text="#{registerShopPage.upload_image.text}" id="titleUploadImage"></p>
        <label id="uploadFile">
            <input th:field="*{file}" type="file" oninput="setImage(this)" accept="image/png, image/jpeg" onmouseenter="showValidation(this, 'uploadFile')"
                   onmouseleave="hideValidation('uploadFile')">
            <img id="noImage" src="/images/upload.png" alt="upload">
            <img id="image" src="/images/nothing.png" alt="image">
        </label>
        <div class="validation">
            <span th:text="#{registerShopPage.upload_image.text} + ' ' + #{validation.text}"></span>
            <ul>
                <li th:text="#{registerShopPage.upload_image.validation1}"></li>
                <li th:text="#{registerShopPage.upload_image.validation2}"></li>
                <li th:text="#{registerShopPage.upload_image.validation3}"></li>
            </ul>
        </div>
        <p id="errorFile"></p>
        <div id="formPlaces">
            <div class="block-horizontally" id="blockPlace">
                <input disabled th:value="#{registerShopPage.places.text}">
                <div id="numberPlaces">
                    <span id="numberPlace">0</span>
                    <img id="plus" src="/images/plus.png" alt="plus"
                         onclick="addPlace(this, '', '', '', '', '', '', '')">
                </div>
            </div>
            <div id="places">
            </div>
        </div>
        <p th:if="${param.error}" id="error" th:text="${errorMessage}"></p>
        <a>
            <button type="button" class="grayButton" id="nextButton" th:text="#{registerPage.button.next}"></button>
        </a>
        <a th:href="@{/register}">
            <button type="button" class="blackButton" id="forUsers"
                    th:text="#{registerShopPage.button.register}"></button>
        </a>
        <a th:href="@{/login}">
            <button type="button" class="blackButton" th:text="#{login.text}"></button>
        </a>
    </form>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage" th:href="@{'?lang=eng'}">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage" th:href="@{'?lang=pl'}">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>