<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/registerPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/C5RsVmp.png">
</head>
<body onload="atStart()">
<script src="/js/page.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/registerAndProfilePage.js"></script>
<script src="/js/registerPage.js"></script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
</div>
<div id="body">
    <p class="title" th:text="#{register.text}"></p>
    <form th:action="@{/register}" th:object="${register}" id="form" method="post">
        <div class="block-horizontally">
            <label id="FirstName">
                <label class="inputs">
                    <input th:field="*{firstName}" type="text" th:placeholder="#{firstName.text}" required
                           oninput="checkFirstName(this)" minlength="2" maxlength="15"
                           onmouseenter="showValidation(this, 'FirstName')" onmouseleave="hideValidation('FirstName')">
                    <img id="close1" src="/images/close.png" alt="close">
                    <img hidden id="check1" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation">
                <span th:text="#{firstName.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.starts_uppercase}"></li>
                    <li th:text="#{validation.only_letters}"></li>
                    <li th:text="#{validation.prefix_length} + ' 2 ' + #{validation.suffix_length} + ' 15'"></li>
                </ul>
            </div>
            <label id="LastName">
                <label class="inputs">
                    <input th:field="*{lastName}" type="text" th:placeholder="#{lastName.text}" required
                           oninput="checkLastName(this)" minlength="2" maxlength="40"
                           onmouseenter="showValidation(this, 'LastName')" onmouseleave="hideValidation('LastName')">
                    <img id="close2" src="/images/close.png" alt="close">
                    <img hidden id="check2" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation" id="validationLastName">
                <span th:text="#{lastName.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.max_2_parts}"></li>
                    <li th:text="#{validation.each_part_uppercase}"></li>
                    <li th:text="#{validation.only_letters}"></li>
                    <li th:text="#{validation.prefix_length} + ' 2 ' + #{validation.suffix_length} + ' 40'"></li>
                </ul>
            </div>
        </div>
        <div class="block-horizontally">
            <label id="Email">
                <label class="inputs">
                    <input th:field="*{email}" type="text" placeholder="Email" required oninput="checkEmail(this)"
                           minlength="4" maxlength="30" onmouseenter="showValidation(this, 'Email')"
                           onmouseleave="hideValidation('Email')">
                    <img id="close3" src="/images/close.png" alt="close">
                    <img hidden id="check3" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation">
                <span th:text="'Email ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.prefix_length} + ' 4 ' + #{validation.suffix_length} + ' 30'"></li>
                    <li th:text="#{email.validation.1_condition}"></li>
                </ul>
            </div>
            <label id="Province">
                <label class="inputs">
                    <input th:field="*{province}" type="text" th:placeholder="#{province.text}" required
                           oninput="checkProvince(this)" minlength="2" maxlength="40"
                           onmouseenter="showValidation(this, 'Province')" onmouseleave="hideValidation('Province')">
                    <img id="close4" src="/images/close.png" alt="close">
                    <img hidden id="check4" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation" id="validationProvince">
                <span th:text="#{province.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.each_part_uppercase}"></li>
                    <li th:text="#{validation.only_letters}"></li>
                    <li th:text="#{validation.max_2_parts}"></li>
                    <li th:text="#{validation.prefix_length} + ' 2 ' + #{validation.suffix_length} + ' 40'"></li>
                </ul>
            </div>
        </div>
        <div class="block-horizontally">
            <label id="Street">
                <label class="inputs">
                    <input th:field="*{street}" type="text" th:placeholder="#{street.text}" required
                           oninput="checkStreet(this)"
                           minlength="2" maxlength="40" onmouseenter="showValidation(this, 'Street')"
                           onmouseleave="hideValidation('Street')">
                    <img id="close5" src="/images/close.png" alt="close">
                    <img hidden id="check5" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation">
                <span th:text="#{street.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.each_part_uppercase}"></li>
                    <li th:text="#{validation.only_letters}"></li>
                    <li th:text="#{validation.max_2_parts}"></li>
                    <li th:text="#{validation.prefix_length} + ' 2 ' + #{validation.suffix_length} + ' 40'"></li>
                </ul>
            </div>
            <label id="HouseNumber">
                <label class="inputs">
                    <input th:field="*{houseNumber}" type="text" th:placeholder="#{houseNumber.text}" required
                           oninput="checkHouseNumber(this)" minlength="1" maxlength="10"
                           onmouseenter="showValidation(this, 'HouseNumber')"
                           onmouseleave="hideValidation('HouseNumber')">
                    <img id="close6" src="/images/close.png" alt="close">
                    <img hidden id="check6" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation" id="validationHouseNumber">
                <span th:text="#{houseNumber.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{houseNumber.validation.1_condition}"></li>
                    <li th:text="#{houseNumber.validation.2_condition}"></li>
                    <li th:text="#{validation.prefix_length} + ' 1 ' + #{validation.suffix_length} + ' 10'"></li>
                </ul>
            </div>
            <label id="ApartmentNumber">
                <label class="inputs">
                    <input th:field="*{apartmentNumber}" type="text" th:placeholder="#{apartmentNumber.text}"
                           oninput="checkApartmentNumber(this)" maxlength="6"
                           onmouseenter="showValidation(this, 'ApartmentNumber')"
                           onmouseleave="hideValidation('ApartmentNumber')">
                    <img hidden id="close7" src="/images/close.png" alt="close">
                    <img id="check7" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation" id="validationApartmentNumber">
                <span th:text="#{apartmentNumber.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{apartmentNumber.validation.1_condition}"></li>
                    <li th:text="#{validation.only_digits}"></li>
                    <li th:text="#{apartmentNumber.validation.2_condition}"></li>
                    <li th:text="#{validation.prefix_length} + ' 1 ' + #{validation.suffix_length} + ' 6'"></li>
                </ul>
            </div>
        </div>
        <div class="block-horizontally">
            <label id="PostalCode">
                <label class="inputs">
                    <input th:field="*{postalCode}" type="text" th:placeholder="#{postalCode.text}" required
                           oninput="checkPostalCode(this)" maxlength="6" minlength="6"
                           onmouseenter="showValidation(this, 'PostalCode')"
                           onmouseleave="hideValidation('PostalCode')">
                    <img id="close8" src="/images/close.png" alt="close">
                    <img hidden id="check8" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation">
                <span th:text="#{postalCode.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.only_digits}"></li>
                    <li th:text="#{validation.prefix_length_is} + ' 5'"></li>
                </ul>
            </div>
            <label id="City">
                <label class="inputs">
                    <input th:field="*{city}" type="text" th:placeholder="#{city.text}" required
                           oninput="checkCity(this)"
                           minlength="2" maxlength="40" onmouseenter="showValidation(this, 'City')"
                           onmouseleave="hideValidation('City')">
                    <img id="close9" src="/images/close.png" alt="close">
                    <img hidden id="check9" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation" id="validationCity">
                <span th:text="#{city.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{validation.each_part_uppercase}"></li>
                    <li th:text="#{validation.only_letters}"></li>
                    <li th:text="#{validation.max_2_parts}"></li>
                    <li th:text="#{validation.prefix_length} + ' 2 ' + #{validation.suffix_length} + ' 40'"></li>
                </ul>
            </div>
        </div>
        <div class="block-horizontally">
            <label id="Country">
                <label class="inputs">
                    <input th:field="*{country}" id="valueCountry" class="valueSelect" type="text" readonly
                           th:placeholder="#{country.text}" onclick="showOrHideCountry('', '1')" value="">
                    <img id="down1" src="/images/keyboard_down.png" alt="down">
                    <img hidden id="up1" src="/images/keyboard_up.png" alt="up">
                </label>
                <input id="searchCountry" class="searchSelect" type="text" oninput="searchAll(this, true, '')">
                <ul id="optionsCountry" class="optionsSelect">
                    <li class="optionSelect optionCountry" th:data-code="${country.code}"
                        th:each="country : ${countries}" th:text="${country.name} + ' (' + ${country.code} + ')'"
                        onclick="setValueCountry(this)"></li>
                    <li id="nothingCountry" th:text="#{select.no_results}"></li>
                </ul>
            </label>
            <label id="CallingCode">
                <label class="inputs">
                    <input th:field="*{callingCode}" id="valueCallingCode" class="valueSelect" type="text" readonly
                           th:placeholder="#{callingCode.text}" onclick="showOrHideCallingCode('up2', 'down2')"
                           value="">
                    <img id="down2" src="/images/keyboard_down.png" alt="down">
                    <img hidden id="up2" src="/images/keyboard_up.png" alt="up">
                </label>
                <input id="searchCallingCode" class="searchSelect" type="text"
                       oninput="searchAll(this, false)">
                <ul id="optionsCallingCode" class="optionsSelect">
                    <li class="optionSelect optionCallingCode" th:data-code="${callingCode.code}"
                        th:data-value="${callingCode.callingCode}" th:each="callingCode : ${callingCodes}"
                        th:text="${callingCode.callingCode} + ' (' + ${callingCode.code} + ')'"
                        onclick="setValueCallingCode(this)"></li>
                    <li id="nothingCallingCode" th:text="#{select.no_results}"></li>
                </ul>
            </label>
            <label id="Phone">
                <label class="inputs">
                    <input th:field="*{phone}" type="text" th:placeholder="#{phone.text}" required
                           oninput="checkPhone(this)"
                           maxlength="28" minlength="7" onmouseenter="showValidation(this, 'Phone')"
                           onmouseleave="hideValidation('Phone')">
                    <img id="close10" src="/images/close.png" alt="close">
                    <img hidden id="check10" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation" id="validationPhone">
                <span th:text="#{phone.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{phone.validation.1_condition}"></li>
                    <li th:text="#{phone.validation.2_condition}"></li>
                </ul>
            </div>
        </div>
        <label id="Password">
            <label class="inputs">
                <input th:field="*{password}" type="password" th:placeholder="#{password.text}" required
                       oninput="checkPassword(this)"
                       minlength="6" maxlength="25" onmouseenter="showValidation(this, 'Password')"
                       onmouseleave="hideValidation('Password')">
                <img id="close11" src="/images/close.png" alt="close">
                <img hidden id="check11" src="/images/check.png" alt="check">
            </label>
        </label>
        <div class="validation">
            <span th:text="#{password.text} + ' ' + #{validation.text}"></span>
            <ul>
                <li th:text="#{validation.prefix_length} + ' 6 ' + #{validation.suffix_length} + ' 25'"></li>
                <li th:text="#{password.validation.1_condition}"></li>
                <li th:text="#{password.validation.2_condition}"></li>
                <li th:text="#{password.validation.3_condition}"></li>
                <li th:text="#{password.validation.4_condition}"></li>
            </ul>
        </div>
        <label id="RetypedPassword">
            <label class="inputs">
                <input th:field="*{retypedPassword}" type="password" th:placeholder="#{retypedPassword.text}" required
                       oninput="checkRetypedPassword(this)" minlength="6" maxlength="25"
                       onmouseenter="showValidation(this, 'RetypedPassword')"
                       onmouseleave="hideValidation('RetypedPassword')">
                <img id="close12" src="/images/close.png" alt="close">
                <img hidden id="check12" src="/images/check.png" alt="check">
            </label>
        </label>
        <div class="validation">
            <span th:text="#{retypedPassword.text} + ' ' + #{validation.text}"></span>
            <ul>
                <li th:text="#{retypedPassword.validation.1_condition}"></li>
            </ul>
        </div>
        <p th:if="${param.error}" id="error" th:text="${errorMessage}"></p>
        <a>
            <button type="button" class="grayButton" id="nextButton" th:text="#{registerPage.button.next}"></button>
        </a>
        <a th:href="@{/register_shop}">
            <button type="button" class="blackButton" th:text="#{registerPage.button.shop_register}"></button>
        </a>
        <a th:href="@{/login}">
            <button type="button" class="blackButton" th:text="#{login.text}"></button>
        </a>
    </form>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage" th:href="@{'?lang=eng'}">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage" th:href="@{'?lang=pl'}">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>