<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/loginPage.css">
    <link rel="stylesheet" href="/css/resetPasswordPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/C5RsVmp.png">
</head>
<body onload="atStart(true)">
<script src="/js/page.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/resetPasswordPage.js"></script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
    <a sec:authorize="isAnonymous()" th:href="@{/login}" class="h2 headerButton">
        <button class="blackButton" th:text="#{button.login}"></button>
    </a>
    <a sec:authorize="isAnonymous()" th:href="@{/register}" class="h1 headerButton">
        <button class="redButton" th:text="#{button.register}"></button>
    </a>
</div>
<div id="body">
    <p class="title" th:text="#{resetPasswordPage.title}"></p>
    <form id="form" th:action="@{/password_reset}" method="post" th:object="${reset}">
        <div class="block-horizontally">
            <label id="CallingCode">
                <label class="inputs">
                    <input th:field="*{callingCode}" name="valueCallingCode" id="valueCallingCode" class="valueSelect"
                           type="text" readonly
                           th:placeholder="#{callingCode.text}" onclick="showOrHideCallingCode('up1', 'down1')"
                           value="">
                    <img id="down1" src="/images/keyboard_down.png" alt="down">
                    <img hidden id="up1" src="/images/keyboard_up.png" alt="up">
                </label>
                <input id="searchCallingCode" class="searchSelect" type="text"
                       oninput="searchAll(this, false)">
                <ul id="optionsCallingCode" class="optionsSelect">
                    <li class="optionSelect optionCallingCode" th:data-code="${callingCode.code}"
                        th:data-value="${callingCode.callingCode}" th:each="callingCode : ${callingCodes}"
                        th:text="${callingCode.callingCode} + ' (' + ${callingCode.code} + ')'"
                        onclick="setValueCallingCode(this)"></li>
                    <li id="nothingCallingCode" th:text="#{select.no_results}"></li>
                </ul>
            </label>
            <label id="Phone">
                <label class="inputs">
                    <input th:field="*{phone}" type="text"
                           th:placeholder="#{phone.text}"
                           required
                           oninput="checkPhone(this)"
                           maxlength="28" minlength="7" onmouseenter="showValidation(this, 'Phone')"
                           onmouseleave="hideValidation('Phone')">
                    <img id="close2" src="/images/close.png" alt="close">
                    <img hidden id="check2" src="/images/check.png" alt="check">
                </label>
            </label>
            <div class="validation" id="validationPhone">
                <span th:text="#{phone.text} + ' ' + #{validation.text}"></span>
                <ul>
                    <li th:text="#{phone.validation.1_condition}"></li>
                    <li th:text="#{phone.validation.2_condition}"></li>
                </ul>
            </div>
            <a>
                <button type="button" class="grayButton" id="codeButton" th:text="#{codeSms.text}"
                        onclick="getForm(this)"></button>
            </a>
        </div>
        <p id="errorBefore"></p>
        <div id="passwordForm" th:data-is-sent="${isSent}">
            <div class="block-horizontally">
                <label id="VerificationSms">
                    <label class="inputs">
                        <input th:field="*{code}" id="verificationNumberSms" name="verificationNumberSms" type="text"
                               th:placeholder="#{codeSms.text}" required
                               oninput="checkVerificationSms(this)" minlength="7" maxlength="7"
                               onmouseenter="showValidation(this, 'VerificationSms')"
                               onmouseleave="hideValidation('VerificationSms')">
                        <img id="close3" src="/images/close.png" alt="close">
                        <img hidden id="check3" src="/images/check.png" alt="check">
                    </label>
                </label>
                <div class="validation">
                    <span th:text="#{codeSms.text} + ' ' + #{validation.text}"></span>
                    <ul>
                        <li th:text="#{validation.only_digits}"></li>
                        <li th:text="#{validation.prefix_length_is} + ' 6'"></li>
                    </ul>
                </div>
            </div>
            <div class="block-horizontally">
                <label id="Password">
                    <label class="inputs">
                        <input th:field="*{password}" type="password" th:placeholder="#{password.text}"
                               oninput="checkPassword(this)" required
                               minlength="6" maxlength="25" onmouseenter="showValidation(this, 'Password')"
                               onmouseleave="hideValidation('Password')">
                        <img id="close4" src="/images/close.png" alt="close">
                        <img hidden id="check4" src="/images/check.png" alt="check">
                    </label>
                </label>
                <div class="validation">
                    <span th:text="#{password.text} + ' ' + #{validation.text}"></span>
                    <ul>
                        <li th:text="#{validation.prefix_length} + ' 6 ' + #{validation.suffix_length} + ' 25'"></li>
                        <li th:text="#{password.validation.1_condition}"></li>
                        <li th:text="#{password.validation.2_condition}"></li>
                        <li th:text="#{password.validation.3_condition}"></li>
                        <li th:text="#{password.validation.4_condition}"></li>
                    </ul>
                </div>
            </div>
            <div class="block-horizontally">
                <label id="RetypedPassword">
                    <label class="inputs">
                        <input th:field="*{retypedPassword}" type="password" th:placeholder="#{retypedPassword.text}"
                               oninput="checkRetypedPassword(this)" minlength="6" maxlength="25" required
                               onmouseenter="showValidation(this, 'RetypedPassword')"
                               onmouseleave="hideValidation('RetypedPassword')">
                        <img id="close5" src="/images/close.png" alt="close">
                        <img hidden id="check5" src="/images/check.png" alt="check">
                    </label>
                </label>
                <div class="validation">
                    <span th:text="#{retypedPassword.text} + ' ' + #{validation.text}"></span>
                    <ul>
                        <li th:text="#{retypedPassword.validation.1_condition}"></li>
                    </ul>
                </div>
            </div>
            <p id="error" th:text="${error}"></p>
            <a>
                <button type="button" class="grayButton" id="resetButton" th:text="#{password.button.change}" onmousedown="pressedCorrectButton()"></button>
            </a>
            <a th:href="@{'/password_reset?reset'}">
                <button type="button" class="redButton" th:text="#{button.reset}" onmousedown="pressedCorrectButton()"></button>
            </a>
        </div>
    </form>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage" th:href="@{'?lang=eng'}">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage" th:href="@{'?lang=pl'}">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>