<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/reviews.css">
    <link rel="stylesheet" href="/css/results.css">
    <link rel="stylesheet" href="/css/confirmation.css">
    <link rel="stylesheet" href="/css/reports.css">
    <link rel="stylesheet" href="/css/reviewPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/3d9NnZt.png">
</head>
<body th:attr="onload=|atStart('${pageSelected}', '${isDescending}', '${field}', '${maxPage}')|">
<script src="/js/page.js"></script>
<script src="/js/reviews.js"></script>
<script src="/js/results.js"></script>
<script src="/js/reports.js"></script>
<script src="/js/block.js"></script>
<script src="/js/deleteReviewAndMuteUser.js"></script>
<script src="/js/reviewPage.js"></script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
    <a sec:authorize="isAnonymous()" th:href="@{/login}" class="h1 headerButton">
        <button class="blackButton" th:text="#{button.login}"></button>
    </a>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="h1 headerButton">
        <button class="redButton" th:text="#{button.logout}"></button>
    </a>
</div>
<div id="body">
    <p class="title" th:text="#{reviews.title}"></p>
    <span hidden th:text="#{success.block_user}" id="textSuccessBlockUser"></span>
    <span hidden th:text="#{success.delete}" id="textSuccessDelete"></span>
    <span hidden th:text="#{success.mute_user}" id="textSuccessMuteUser"></span>
    <div id="yourReview" th:if="${yourReview} != null">
        <div class="result">
            <div class="result-vertical">
                <div class="result-horizontal">
                    <span class="name yourReview" th:text="#{yourReview.name}"></span>
                    <div class="amountHearths">
                        <span class="amount isAdded" th:text="${yourReview.count}"
                              th:data-is-added="${yourReview.isAdded}"></span>
                        <img class="resultIcons fullHearth" src="/images/hearth.png" alt="hearth"
                             th:attr="onclick=|deleteLike('${yourReview.id}', this)|">
                        <img class="resultIcons emptyHearth" src="/images/hearth_empty.png" alt="hearth"
                             th:attr="onclick=|addLike('${yourReview.id}', this)|">
                    </div>
                </div>
                <span class="description" th:text="'&quot;' + ${yourReview.review.description} + '&quot;'"></span>
                <div class="result-horizontal">
                    <div class="stars">
                        <img class="star" src="/images/star.png" alt="star"
                             th:each="i : ${#numbers.sequence(1, yourReview.review.rating)}">
                        <img class="star" src="/images/star_empty.png" alt="emptyStar"
                             th:if="${yourReview.review.rating} < 5"
                             th:each="i : ${#numbers.sequence(1, 5 - yourReview.review.rating)}">
                    </div>
                    <img class="resultIcons delete" src="/images/close.png" alt="delete"
                         th:attr="onclick=|removeReview('${yourReview.id}', this)|">
                </div>
            </div>
        </div>
    </div>
    <div id="searchBar">
        <input type="text" id="searchInput" th:placeholder="#{search.text}" th:value="${param.text}">
        <select id="searchSelect">
            <option th:text="#{reviewPage.select_option.most}" value="0"></option>
            <option th:text="#{reviewPage.select_option.least}" value="1"></option>
            <option th:text="#{reviewPage.select_option.oldest}" value="2"></option>
            <option th:text="#{reviewPage.select_option.latest}" value="3"></option>
            <option th:text="#{reviewPage.select_option.top}" value="4"></option>
            <option th:text="#{reviewPage.select_option.lowest}" value="5"></option>
        </select>
        <div id="searchButton" onclick="setParams()">
            <img id="searchImage" src="/images/search.png" alt="search">
        </div>
    </div>
    <p id="error"></p>
    <p id="success"></p>
    <div id="allResults">
        <div id="results">
            <div class="result" th:if="${reviewsEmpty} != true" th:each="review : ${reviews}">
                <div class="result-vertical">
                    <div class="result-horizontal">
                        <span class="name yourReview" th:text="#{yourReview.name}" th:if="${review.owner}"></span>
                        <span class="name" th:text="${review.firstName}" th:unless="${review.owner}"></span>
                        <div class="amountHearths">
                        <span class="amount isAdded" th:text="${review.count}"
                              th:data-is-added="${review.isAdded}"></span>
                            <img class="resultIcons notLoginHearth" src="/images/hearth.png" alt="hearth"
                                 th:unless="${principal}">
                            <img class="resultIcons fullHearth" src="/images/hearth.png" alt="hearth"
                                 th:attr="onclick=|deleteLike('${review.id}', this)|" th:if="${principal}">
                            <img class="resultIcons emptyHearth" src="/images/hearth_empty.png" alt="hearth"
                                 th:attr="onclick=|addLike('${review.id}', this)|" th:if="${principal}">
                            <a class="resultIcons" th:unless="${review.owner}"
                               th:attr="onclick=|showOrHideReportProduct('${review.id}', this.parentElement.parentElement.parentElement.parentElement)|"
                               sec:authorize="hasRole('USER')">
                                <img src="/images/report.png" alt="report">
                            </a>
                            <a class="resultIcons" sec:authorize="hasRole('ADMIN')"
                               th:attr="onclick=|showOrHideDeleteReview('${review.id}', this.parentElement.parentElement.parentElement.parentElement)|">
                                <img src="/images/close.png" alt="close">
                            </a>
                            <a class="resultIcons" sec:authorize="hasRole('ADMIN')"
                               th:attr="onclick=|showOrHideMuteUser('${review.id}', this.parentElement.parentElement.parentElement.parentElement)|">
                                <img src="/images/mute.png" alt="mute">
                            </a>
                            <a class="resultIcons" sec:authorize="hasRole('ADMIN')"
                               th:attr="onclick=|showOrHideBlockUser('${review.id}', this.parentElement.parentElement.parentElement.parentElement)|">
                                <img src="/images/block_user.png" alt="block">
                            </a>
                        </div>
                    </div>
                    <span class="description" th:text="'&quot;' + ${review.review.description} + '&quot;'"></span>
                    <div class="result-horizontal">
                        <div class="stars">
                            <img class="star" src="/images/star.png" alt="star"
                                 th:each="i : ${#numbers.sequence(1, review.review.rating)}">
                            <img class="star" src="/images/star_empty.png" alt="emptyStar"
                                 th:if="${review.review.rating} < 5"
                                 th:each="i : ${#numbers.sequence(1, 5 - review.review.rating)}">
                        </div>
                        <img class="resultIcons delete" src="/images/close.png" alt="delete" th:if="${review.owner}"
                             th:attr="onclick=|removeReview('${review.id}', this)|">
                    </div>
                </div>
            </div>
            <span th:data-results-empty="${reviewsEmpty}" th:text="#{select.no_results}" id="noResults"></span>
        </div>
    </div>
    <div id="pages">
        <a>
            <button id="previousPage" class="darkGreenButton" th:text="#{reviewPage.button.previous}"
                    onclick="previousPage()"></button>
        </a>
        <div id="pagesSelect">
            <span class="numberPage" th:id="'page' + ${page}" th:each="page: ${pages}" th:text="${page}"
                  th:if="${reviewsEmpty} != true" th:attr="onclick=|setPage('${maxPage}', '${page}')|"></span>
        </div>
        <a>
            <button id="nextPage" class="darkGreenButton" th:text="#{reviewPage.button.next}"
                    th:attr="onclick=|nextPage('${maxPage}')|"></button>
        </a>
    </div>
    <div id="report" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{report.title}" class="confirmationTitle"></p>
            <textarea id="reportMessage" maxlength="1000" oninput="checkTextLength(this)"></textarea>
            <div>
                <a>
                    <button type="button" id="buttonConfirmation" class="grayButton" th:text="#{button.yes}"
                            onclick="reportProduct(false)"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideReportProduct()"></button>
                </a>
            </div>
        </div>
    </div>
    <div id="block" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{block.title}" class="confirmationTitle withoutText"></p>
            <div>
                <a>
                    <button type="button" id="buttonConfirmationBlock" class="greenButton" th:text="#{button.yes}"
                            onclick="blockUser(false)"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideBlockUser()"></button>
                </a>
            </div>
        </div>
    </div>
    <div id="delete" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{delete.title}" class="confirmationTitle withoutText"></p>
            <div>
                <a>
                    <button type="button" id="buttonConfirmationDelete" class="greenButton" th:text="#{button.yes}"
                            onclick="deleteReview()"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideDeleteReview()"></button>
                </a>
            </div>
        </div>
    </div>
    <div id="mute" class="confirmation" hidden data-id="">
        <div class="confirmationChoice">
            <p th:text="#{mute_user.title}" class="confirmationTitle withoutText"></p>
            <div>
                <a>
                    <button type="button" id="buttonConfirmationMute" class="greenButton" th:text="#{button.yes}"
                            onclick="muteUser()"></button>
                </a>
                <a>
                    <button type="button" class="redButton" th:text="#{button.no}"
                            onclick="showOrHideMuteUser()"></button>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>