<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/verificationPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/C5RsVmp.png">
</head>
<body onload="atStart()">
<script src="/js/page.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/verificationPage.js"></script>
<div id="header">
    <a th:href="@{/}" id="b1">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
</div>
<div id="body" onload="atStart()">
    <p class="title" th:text="#{verificationPage.title}"></p>
    <form th:action="@{/account_verifications}" id="form" method="post">
        <label id="VerificationEmail">
            <input id="verificationNumberEmail" name="verificationNumberEmail" type="text"
                   th:placeholder="#{verificationPage.codeEmail.text}"
                   required oninput="checkVerificationEmail(this)" minlength="7" maxlength="7"
                   onmouseenter="showValidation(this)" onmouseleave="hideValidation(this)">
            <img id="close1" src="/images/close.png" alt="close">
            <img id="check1" src="/images/check.png" alt="check">
        </label>
        <div class="validation">
            <span th:text="#{verificationPage.codeEmail.text} + ' ' + #{validation.text}"></span>
            <ul>
                <li th:text="#{validation.only_digits}"></li>
                <li th:text="#{validation.prefix_length_is} + ' 6'"></li>
            </ul>
        </div>
        <label id="VerificationSms">
            <input id="verificationNumberSms" name="verificationNumberSms" type="text" th:placeholder="#{codeSms.text}"
                   required
                   oninput="checkVerificationSms(this)" minlength="7" maxlength="7" onmouseenter="showValidation(this)"
                   onmouseleave="hideValidation(this)">
            <img id="close2" src="/images/close.png" alt="close">
            <img id="check2" src="/images/check.png" alt="check">
        </label>
        <div class="validation">
            <span th:text="#{codeSms.text} + ' ' + #{validation.text}"></span>
            <ul>
                <li th:text="#{validation.only_digits}"></li>
                <li th:text="#{validation.prefix_length_is} + ' 6'"></li>
            </ul>
        </div>
        <p th:if="${param.error}" id="error" th:text="${errorMessage}"></p>
        <button type="button" class="grayButton" id="registerButton" th:text="#{button.register}"></button>
        <a th:href="@{'/account_verifications?newCodeSms'}">
            <button type="button" class="blackButton" th:text="#{verificationPage.button.newCode_sms}"></button>
        </a>
        <a th:href="@{'/account_verifications?newCodeEmail'}">
            <button type="button" class="blackButton" th:text="#{verificationPage.button.newCode_email}"></button>
        </a>
        <a th:href="@{'/account_verifications?reset'}">
            <button type="button" class="redButton" id="resetButton"
                    th:text="#{verificationPage.button.reset}"></button>
        </a>
    </form>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage" th:href="@{'?lang=en'}">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage" th:href="@{'?lang=pl'}">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>