<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultipleCard</title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/verificationPage.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/TqDY4WA.png">
</head>
<body onload="atStart()">
<script src="/js/page.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/verificationPage.js"></script>
<div id="header">
    <a th:href="@{/}" id="h5" class="headerButton">
        <button class="blackButton" th:text="#{button.landingPage}"></button>
    </a>
</div>
<div id="body">
    <p class="title" th:text="#{verificationPage.title}"></p>
    <form th:action="@{/account_verifications}" id="form" method="post">
        <label id="VerificationEmail">
            <label class="inputs">
                <input id="verificationNumberEmail" name="verificationNumberEmail" type="text"
                       th:placeholder="#{verificationPage.codeEmail.text}"
                       required oninput="checkVerificationEmail(this, 1)" minlength="7" maxlength="7"
                       onmouseenter="showValidation(this, 'VerificationEmail')"
                       onmouseleave="hideValidation('VerificationEmail')">
                <img id="close1" src="/images/close.png" alt="close">
                <img hidden id="check1" src="/images/check.png" alt="check">
            </label>
        </label>
        <div class="validation">
            <span th:text="#{verificationPage.codeEmail.text} + ' ' + #{validation.text}"></span>
            <ul>
                <li th:text="#{validation.only_digits}"></li>
                <li th:text="#{validation.prefix_length_is} + ' 6'"></li>
            </ul>
        </div>
        <label id="VerificationSms">
            <label class="inputs">
                <input id="verificationNumberSms" name="verificationNumberSms" type="text"
                       th:placeholder="#{codeSms.text}"
                       required
                       oninput="checkVerificationSms(this, 2)" minlength="7" maxlength="7"
                       onmouseenter="showValidation(this, 'VerificationSms')"
                       onmouseleave="hideValidation('VerificationSms')">
                <img id="close2" src="/images/close.png" alt="close">
                <img hidden id="check2" src="/images/check.png" alt="check">
            </label>
        </label>
        <div class="validation">
            <span th:text="#{codeSms.text} + ' ' + #{validation.text}"></span>
            <ul>
                <li th:text="#{validation.only_digits}"></li>
                <li th:text="#{validation.prefix_length_is} + ' 6'"></li>
            </ul>
        </div>
        <p id="error" th:text="${errorMessage}"></p>
        <a>
            <button type="button" class="grayButton" id="registerButton" th:text="#{button.register}"
                    onmousedown="pressedCorrectButton()"></button>
        </a>
        <a>
            <button type="button" class="blackButton" th:text="#{button.newCode_sms}"
                    th:attr="onclick=|getSmsCode('${phone}', 'codeSmsRegister', true, false)|"
                    onmousedown="pressedCorrectButton()"></button>
        </a>
        <a>
            <button type="button" class="blackButton" th:text="#{button.newCode_email}"
                    th:attr="onclick=|getEmailCode('${email}')|" onmousedown="pressedCorrectButton()"></button>
        </a>
        <a th:href="@{'/account_verifications?reset'}">
            <button type="button" class="redButton" id="resetButton"
                    th:text="#{button.reset}" onmousedown="pressedCorrectButton()"></button>
        </a>
    </form>
</div>
<div id="footer">
    <label id="language" onclick="setLanguage()">
        <a id="enLanguage">
            <img class="flag" src="/images/en_language.png" alt="enLanguage">
        </a>
        <a id="plLanguage">
            <img class="flag" src="/images/pl_language.png" alt="plLanguage">
        </a>
    </label>
</div>
</body>
</html>